/* Add here all your css styles (customizations) */
p {
    font-size: 1.2em !important;
}

.blog h2 a {
    font-size: 1.25em !important;
}

.footer {
    background-color: #efa52e !important;
}

.footer-default .footer {
    color: rgba(0,0,0,0.5);
    /*background: #edb14f;*/
    background: #F3C110 !important;
    padding: 20px 0 30px;
}

.footer-default .footer a {
    color: darkslateblue !important;
    /*color: rgba(0,0,0,0.7) !important;*/
}

.footer-default .footer p {
    color: rgba(0,0,0,0.5) !important;
}

.footer-default .footer h2, .footer-default .footer h3, .footer-default .footer h4 {
    color: darkblue !important;
    background: none !important;
    text-shadow: none !important;
    font-weight: bold;

}