    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index"><img id="logo-footer" class="footer-logo" src="images/logo.png" alt=""></a>
                        <p>
                            สำนักงานคณะกรรมการพิเศษเพื่อประสานงานโครงการอันเนื่องมาจากพระราชดำริ (สำนักงาน กปร.) สงวนลิขสิทธิ์ตาม พ.ร.บ. ลิขสิทธิ์ พ.ศ. ๒๕๓๕
                        </p>
                        <p>
                            Office of Royal Development Projects Board (RDPB) © 2009 All Rights Reserved
                        </p>
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline">
                                <h2>เกี่ยวกับเรา</h2>
                            </div>
                            <p class="footer-about">
                                สำนักงานคณะกรรมการพิเศษเพื่อประสานงานโครงการอันเนื่องมาจากพระราชดำริ (สำนักงาน กปร.) และ บริษัท ล็อกซเล่ย์ จำกัด (มหาชน) ได้ร่วมมือกันเพื่อการพัฒนาระบบภูมิสารสนเทศข้อมูลโครงการอันเนื่องมาจากพระราชดำริ เพื่อการสำรวจ ตรวจสอบพื้นที่และติดตามความก้าวหน้าการพัฒนาของโครงการต่างๆ ทำให้ประชาชน บุคคลทั่วไปสามารถสืบค้นข้อมูลโครงการได้โดยง่าย และเป็นการเผยแพร่ประชาสัมพันธ์ข้อมูลที่เกี่ยวข้องกับโครงการอันเนื่องมาจากพระราชดำริ ตั้งแต่อดีตจนถึงปัจจุบัน
                            </p>
                        </div>
                    </div><!--/col-md-3-->
                    <!-- End Latest -->

                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>เมนู</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="index">หน้าแรก</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="idea">พระราชดำริ</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="project">โครงการฯ</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="knowledge">แนวคิดทฤษฏี</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="search">แผนที่โครงการ</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="search">ลงทะเบียนผู้ใช้งาน</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>ติดต่อเรา</h2></div>
                        <address class="md-margin-bottom-40">
                            สถานที่ตั้ง สำนักงานคณะกรรมการพิเศษเพื่อประสานงานโครงการอันเนื่องมาจากพระราชดำริ (สำนักงาน กปร.)
                        </address>
                        <p>
                            2012 ซ.อรุณอมรินทร์ 36 ถ.อรุณอมรินทร์ แขวงบางยี่ขัน เขตบางพลัด กรุงเทพฯ 10700
                        </p>
                        <p>
                            โทร. 02-447-8500-6 โทรสาร.02-447-8562 อีเมล์ <a href="mailto:rdpbwebmaster@rdpb.mail.go.th">rdpbwebmaster@rdpb.mail.go.th</a>
                        </p>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2014 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/parallax-slider.js"></script>

<!-- masonry -->
<script type="text/javascript" src="assets/plugins/masonry/jquery.masonry.min.js"></script>
<script type="text/javascript" src="assets/js/pages/blog-masonry.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();      
        ParallaxSlider.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>