/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @font-face {
    font-family: supermarket;
    src: url(/assets/map/fonts/supermarket.ttf);
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    font-family:supermarket;
}
body,html{
    height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    
}
#map{
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        float: left;
        border: medium solid #71D55B;
        overflow: hidden !important; 
       line-height: 1.35;
       white-space: nowrap;

    }
#BPanel{
    /*float: left;*/
    
    margin-top: 5px; margin-right: 5px;
    /*position: absolute;
    top: 50%;*/
    /*width: 110px;*/
    z-index: -10;
    /*background-color: white;*/
    cursor: pointer;
    right: -61px;
}
#panel{
    display:none;
    float: left;
    position: relative;
    top: 0;
    width: 35%;
    height: 100%;
    z-index: 1;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5),
       screen and (-o-min-device-pixel-ratio: 15/10)

.textAlignVer{  
    display:block;  
    writing-mode: tb-rl;  
    filter: flipv fliph;  
    -webkit-transform: rotate(-90deg);   
    -moz-transform: rotate(-90deg);   
    transform: rotate(-90deg);   
    position:relative;  
    width:20px;  
    white-space:nowrap;  
    font-size:12px;  
    margin-bottom:10px;  
}  
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

 #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-size: 13px;
        font-weight: 300;
      }
    .title-menu{
        background-color: #eee;
    }
    .checkbox{
        width: 20px;
        height: 20px;
        float:left;
    }
    .Tinfo{
        /*max-width:400px; 
        max-height:300px; */
        font-size:12px;
        text-align:left;
        background-color: #FFFFFF;
        border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        border: 5px solid #71D55B;
        display:block;
        font-size: 14px;
    }
    .Tinfonone{
        display:hidden;
    }
    #Dresult{
        width: 100%;
    }
    .result{
        border: medium solid; text-align: left; padding: 5px; width: 100%;
    }
.noscrollbar {
   overflow: hidden !important; 
   line-height: 1.35;
   white-space: nowrap;
}
.gm-style-iw{
    overflow: hidden !important; 
   line-height: 1.35;
   white-space: nowrap;
}
.detail-Direction-window{
    overflow: scroll; 
    max-height: 180px; 
    white-space: normal; 
    width: 390px;
}
.detail-Direction-mobile{
    display: inline-block;
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch; 
    white-space: normal; 
    word-wrap: break-word; 
    max-height: 50vh;
}


