<style type="text/css">
    .nav, .pagination, .carousel, .panel-title a {
        cursor: pointer;
        margin: 0px;
    }

    .select2-hidden-accessible {
        display: none !important;
    }

    .no-deco {
        text-decoration: none !important;
    }

    .angular-google-map-container {
        height: 300px;
    }

</style>
<!--
	The ID "widget-grid" will start to initialize all widgets below 
	You do not need to use widgets if you dont want to. Simply remove 
	the <section></section> and you can use wells or panels instead 
	-->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->

    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-6" ng-controller="ImageController">
            <div class="modal fade" id="deleteModalImage" tabindex="-1"
                 role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            <h4 class="modal-title">
                                ลบการอนุมัติรูปภาพ
                            </h4>
                        </div>
                        <div class="modal-body no-padding">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <div class="row">
                                            <div class="col col-12">
                                                กรุณาอนุมัติหากต้องการลบข้อมูลนี้
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>

                                <footer>
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">
                                        ยกเลิก
                                    </button>
                                    <button class="btn btn-danger"
                                            data-ng-click="discardChangeConfirm();" data-dismiss="modal">
                                        <i class="fa fa-trash-o"></i>
                                        ยืนยัน
                                    </button>
                                </footer>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="jarviswidget jarviswidget-color-magenta" id="approvePhoto"
                 data-widget-editbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true";
                data-widget-sortable="false"

                -->
                <header style="background-color: #517fdb !important;">
                    <h2>รูปภาพ</h2>
                </header>

                <!-- widget div-->


                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding" style="margin:0px;">
                    <div class="alert alert-warning ng-hide margin-bottom-0" ng-show="list.length == 0">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <strong>ไม่พบข้อมูล</strong>

                    </div>
                    <div ng-show="list.length != 0">
                        <img src="{{imageURL}}" class="img-responsive center-block"
                             style="max-height:300px; padding: 5px;">

                        <div class="table-responsive" ng-show="list.length != 0">

                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ชื่อโครงการ</th>
                                    <th class="col-md-2">ผู้กรอก</th>
                                    <th class="col-md-3">คำสั่ง</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="p in list">
                                    <td><a href="#/admin/royalproject/{{p.project.uuid}}"
                                           target="_blank">{{p.project.name}}</a>
                                    </td>
                                    <td>{{p.username}}</td>
                                    <td>
                                        <button class="btn btn-xs btn-primary" ng-click="viewImage(p.servingUrl);"
                                                data-original-title="ดูภาพ"
                                                data-placement="top"
                                                rel="tooltip"><i class="fa fa-picture-o"></i></button>
                                        <button class="btn btn-xs btn-success" ng-click="commitChange(p.id);"
                                                data-original-title="อนุมัติรูปภาพ"
                                                data-placement="top"
                                                rel="tooltip">
                                            <i class="fa fa-check-square-o"></i>
                                        </button>
                                        <button class="btn btn-xs btn-danger" ng-click="discardChange(p.id);"
                                                data-toggle="modal" data-target="#deleteModalImage"
                                                data-original-title="ลบ"
                                                data-placement="top"
                                                rel="tooltip">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <!-- end widget content -->
            </div>
        </article>
        <article class="col-xs-12 col-sm-12 col-md-6" ng-controller="LocationController">
            <div class="modal fade" id="deleteModalLocation" tabindex="-1"
                 role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            <h4 class="modal-title">
                                ลบการอนุมัติตำแหน่งโครงการ
                            </h4>
                        </div>
                        <div class="modal-body no-padding">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        <div class="row">
                                            <div class="col col-12">
                                                กรุณาอนุมัติหากต้องการลบข้อมูลนี้
                                            </div>
                                        </div>
                                    </section>
                                </fieldset>

                                <footer>
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">
                                        ยกเลิก
                                    </button>
                                    <button class="btn btn-danger"
                                            data-ng-click="discardChangeConfirm();" data-dismiss="modal">
                                        <i class="fa fa-trash-o"></i>
                                        ยืนยัน
                                    </button>
                                </footer>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="jarviswidget jarviswidget-color-magenta" id="approveLocation"
                 data-widget-editbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true";
                data-widget-sortable="false"

                -->
                <header style="background-color: #517fdb !important;">
                    <h2>ตำแหน่งโครงการ</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="alert alert-warning ng-hide margin-bottom-0" ng-show="list.length == 0">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <strong>ไม่พบข้อมูล</strong>

                        </div>
                        <div ng-show="list.length != 0">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                <ui-gmap-marker coords="marker.center" idKey="1">
                                </ui-gmap-marker>
                            </ui-gmap-google-map>

                            <div class="table-responsive" ng-show="list.length != 0">

                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>ชื่อโครงการ</th>
                                        <th class="col-md-2">ผู้กรอก</th>
                                        <th class="col-md-3">คำสั่ง</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="p in list">
                                        <td><a href="#/admin/royalproject/{{p.project.uuid}}" target="_blank">{{p.project.name}}</a>
                                        </td>
                                        <td>{{p.username}}</td>
                                        <td>
                                            <button class="btn btn-xs btn-primary"
                                                    data-original-title="ดูตำแหน่ง"
                                                    data-placement="top"
                                                    rel="tooltip"
                                                    ng-click="viewMap(p.location.latitude, p.location.longitude);"><i
                                                    class="fa-map-o fa"></i>
                                            </button>
                                            <button class="btn btn-xs btn-success" ng-click="commitChange(p.id);"
                                                    data-original-title="อนุมัติตำแหน่ง"
                                                    data-placement="top"
                                                    rel="tooltip">
                                                <i class="fa fa-check-square-o"></i>
                                            </button>
                                            <button class="btn btn-xs btn-danger" ng-click="discardChange(p.id);"
                                                    data-original-title="ลบ"
                                                    data-placement="top"
                                                    rel="tooltip" data-toggle="modal"
                                                    data-target="#deleteModalLocation">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <!-- end widget content -->

                </div>


            </div>


        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->


</section>
<!-- end widget grid -->


<script type="text/javascript">
    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();
    var tooltip = function () {
        setTimeout(
                function () {
                    $("[rel=tooltip]").tooltip();
                }
                , 3000);
    }
    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     *
     * var pagefunction = function() {
     *   ...
     * }
     * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
     *
     * TO LOAD A SCRIPT:
     * var pagefunction = function (){
     *  loadScript(".../plugin.js", run_after_loaded);
     * }
     *
     * OR you can load chain scripts by doing
     *
     * loadScript(".../plugin.js", function(){
     * 	 loadScript("../plugin.js", function(){
     * 	   ...
     *   })
     * });
     */

    // pagefunction
    var pagefunction = function () {
        // clears the variable if left blank

        angular.module('approvalApp', ['ui.bootstrap', 'uiGmapgoogle-maps'])
                .controller('LocationController', ['$scope', '$http', function ($scope, $http) {
                    $scope.list = [null];

                    var init = function () {
                        var lat = 13.768751, lng = 100.4945806
                        $scope.map = {center: {latitude: lat, longitude: lng}, zoom: 8};
                        $scope.marker = {center: {latitude: lat, longitude: lng}};

                        $http.get('/admin/approval/location').success(function (data) {
                            $scope.list = data;
                            if ($scope.list.length != 0) {
                                $scope.viewMap(data[0].location.latitude, data[0].location.longitude);
                            }

                            setTimeout(function () {
                                $("[rel=tooltip]").tooltip();
                            }, 1000);
                        });
                    };

                    $scope.viewMap = function (lat, lng) {
                        $scope.map = {center: {latitude: lat, longitude: lng}, zoom: 8};
                        $scope.marker = {center: {latitude: lat, longitude: lng}};
                    };

                    $scope.commitChange = function (id) {
                        $http.post('/admin/approval/location/' + id, null).success(function () {
                            $.smallBox({
                                title: "บันทึกเรียบร้อยแล้ว",
                                content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                color: "#49b4441",
                                iconSmall: "fa fa-save bounce animated",
                                timeout: 4000
                            });
                            init();
                        });
                    };
                    $scope.discardChange = function (id) {
                        $scope.deleteID = id;
                    };

                    $scope.discardChangeConfirm = function () {
                        var id = $scope.deleteID;
                        $http.delete('/admin/approval/location/' + id).success(function () {
                            $.smallBox({
                                title: "ลบเรียบร้อย",
                                content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                color: "red",
                                iconSmall: "fa fa-trash-o bounce animated",
                                timeout: 4000
                            });
                            init();
                        });
                    };
                    init();
                }])
                .controller('ImageController', ['$scope', '$http', function ($scope, $http) {
                    $scope.list = [];

                    var init = function () {
                        $scope.imageURL = '/assets/images/default.JPG';
                        $http.get('/admin/approval/image').success(function (data) {
                            $scope.list = data;
                            if ($scope.list.length != 0) {
                                $scope.imageURL = $scope.list[0].servingUrl;
                            }
                            setTimeout(function () {
                                $("[rel=tooltip]").tooltip();
                            }, 1000);
                        });
                    };

                    $scope.viewImage = function (imgUrl) {
                        $scope.imageURL = imgUrl;
                    };

                    $scope.commitChange = function (id) {
                        $http.post('/admin/approval/image/' + id, null).success(function () {
                            $.smallBox({
                                title: "บันทึกเรียบร้อยแล้ว",
                                content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                color: "#49b4441",
                                iconSmall: "fa fa-save bounce animated",
                                timeout: 4000
                            });
                            init();
                        });
                    };

                    $scope.discardChange = function (id) {
                        $scope.deleteID = id;
                    };

                    $scope.discardChangeConfirm = function () {
                        var id = $scope.deleteID;
                        $http.delete('/admin/approval/image/' + id).success(function () {
                            $.smallBox({
                                title: "ลบเรียบร้อย",
                                content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                                color: "red",
                                iconSmall: "fa fa-trash-o bounce animated",
                                timeout: 4000
                            });
                            init();
                        });
                    };


                    init();
                }]);

        angular.element('#widget-grid').ready(function () {
            angular.bootstrap('#widget-grid', ['approvalApp']);
        });
    };

    // end pagefunction

    // run pagefunction
    $LAB.script("/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
            .script('/js/bower_components/lodash/lodash.min.js').script('/js/bower_components/angular-google-maps/dist/angular-google-maps.min.js')
            .wait(function () {
                pagefunction();
            });

</script>


