<style type="text/css">

    .jarviswidget-color-project > header {
        background: #70ad47;
        color: #FFF;
    }

    .jarviswidget-color-idea > header {
        background: #5b9bd5;
        color: #FFF;
    }

    .jarviswidget-color-knowledge > header {
        background: #ff9901;
        color: #FFF;
    }

    .google-chart {
        min-height: 400px;;
    }

    .project table thead tr {
        background-color: #70ad47 !important;
        background-image: none !important;

    }

    .project table thead tr th {
        color: white;
        text-decoration: none !important;
        text-align: center;
    }

    .project table tbody tr:nth-child(odd) td {
        background-color: #e2eeda;
        text-align: center;
    }

    .project table tbody tr:nth-child(even) td {
        background-color: #c5deb6;
        text-align: center;
    }

    .project table tbody tr td:first-child {
        background-color: #70ad47 !important;
        text-align: left;
        color: white;
    }

    .project table tbody tr:last-child td {
        font-weight: bold;
        text-align: center;
    }

    /*idea*/
    .idea table thead tr {
        background-color: #5b9bd5 !important;
        background-image: none !important;

    }

    .idea table thead tr th {
        color: white;
        text-decoration: none !important;
        text-align: center;
    }

    .idea table tbody tr:nth-child(odd) td {
        background-color: #deeaf6;
        text-align: center;
    }

    .idea table tbody tr:nth-child(even) td {
        background-color: #bdd6ee;
        text-align: center;
    }

    .idea table tbody tr td:first-child {
        background-color: #5b9bd5 !important;
        text-align: left;
        color: white;
    }

    .idea table tbody tr:last-child td {
        font-weight: bold;
        text-align: center;
    }

    /*knowledge*/
    .knowledge table thead tr {
        background-color: #ff9901 !important;
        background-image: none !important;

    }

    .knowledge table thead tr th {
        color: white;
        text-decoration: none !important;
        text-align: center;
    }

    .knowledge table tbody tr:nth-child(odd) td {
        background-color: #fff2cb;
        text-align: center;
    }

    .knowledge table tbody tr:nth-child(even) td {
        background-color: #ffe599;
        text-align: center;
    }

    .knowledge table tbody tr td:first-child {
        background-color: #ff9901 !important;
        text-align: left;
        color: white;
    }

    .knowledge table tbody tr:last-child td {
        font-weight: bold;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i> Dashboard <span>> </span> สำนักงาน
            กปร.
        </h1>
    </div>
</div>

<div class="widget-body">


    <ul id="myTab3" class="nav nav-tabs tabs-pull-right bordered">
        <li class="active">
            <a href="#l1" data-toggle="tab">กราฟ </a>
        </li>
        <li class="pull-right">
            <a href="#l2" data-toggle="tab">ตารางข้อมูล</a>
        </li>
    </ul>

    <div id="myTabContent3" class="tab-content padding-10">
        <div class="tab-pane fade in active" id="l1">
            <section id="widget-grid" class="" data-ng-controller="DashboardController">
                <!-- row -->
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-6">
                        <!--start royalty-->
                        <div class="jarviswidget jarviswidget-color-project" id="wid-id-2"
                             data-widget-togglebutton="false" data-widget-editbutton="false"
                             data-widget-fullscreenbutton="false" data-widget-colorbutton="false"
                             data-widget-deletebutton="false">

                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->

                            <header>
					<span class="widget-icon"> <i
                            class="fa fa-dashboard txt-color-white"></i>
					</span>

                                <h2>สรุปจำนวนโครงการฯ แยกตามพระนาม</h2>
                            </header>

                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <input class="form-control" type="text">
                                </div>
                                <!-- end widget edit box -->
                                <div class="widget-body no-padding">
                                    <!-- content goes here -->
                                    <div class="google-chart" google-chart chart="chartRoyalty"></div>


                                    <!-- end content -->
                                </div>
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!--end royalty-->
                        <!-- new widget -->
                        <div class="jarviswidget jarviswidget-color-project" id="wid-id-1"
                             data-widget-togglebutton="false" data-widget-editbutton="false"
                             data-widget-fullscreenbutton="false" data-widget-colorbutton="false"
                             data-widget-deletebutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->
                            <header>
					<span class="widget-icon"> <i
                            class="fa fa-dashboard txt-color-white"></i>
					</span>

                                <h2>สรุปจำนวนโครงการฯ แยกตามประเภทโครงการ</h2>


                            </header>

                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">test</div>
                                <!-- end widget edit box -->

                                <div class="widget-body no-padding">
                                    <!-- content -->
                                    <div class="google-chart" google-chart chart="chartType"></div>
                                    <!-- end content -->
                                </div>

                            </div>
                            <!-- end widget div -->
                        </div>

                        <!-- end widget -->

                        <!--start idea-->
                        <div class="jarviswidget jarviswidget-color-idea" id="wid-id-4"
                             data-widget-togglebutton="false" data-widget-editbutton="false"
                             data-widget-fullscreenbutton="false" data-widget-colorbutton="false"
                             data-widget-deletebutton="false">

                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->
                            <header>
					<span class="widget-icon"> <i class="fa fa-dashboard txt-color-white"></i>
					</span>

                                <h2>สรุปจำนวนพระราชดำริแยกตามพระนาม</h2>

                            </header>

                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">

                                    <input class="form-control" type="text">

                                </div>
                                <!-- end widget edit box -->

                                <div class="widget-body no-padding">
                                    <!-- content goes here -->
                                    <div class="google-chart" google-chart chart="chartIdea"></div>

                                    <!-- end content -->
                                </div>

                            </div>
                            <!-- end widget div -->
                        </div>
                        <!--end idea-->


                    </article>

                    <article class="col-sm-12 col-md-12 col-lg-6">
                        <div class="jarviswidget jarviswidget-color-project" id="wid-id-0"
                             data-widget-togglebutton="false" data-widget-editbutton="false"
                             data-widget-fullscreenbutton="false" data-widget-colorbutton="false"
                             data-widget-deletebutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->
                            <header>
					<span class="widget-icon"> <i
                            class="fa fa-dashboard txt-color-white"></i>
					</span>

                                <h2>สรุปจำนวนโครงการฯ แยกตามภาค</h2>


                            </header>

                            <!-- widget div-->
                            <div class="">
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">test</div>
                                <!-- end widget edit box -->

                                <!-- content -->
                                <div class="no-padding widget-body">
                                    <div class="google-chart" google-chart chart="chartRegion"></div>
                                </div>
                                <!-- end content -->

                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- new widget -->

                        <!-- end widget -->

                        <div class="jarviswidget jarviswidget-color-project" id="wid-id-3"
                             data-widget-togglebutton="false" data-widget-editbutton="false"
                             data-widget-fullscreenbutton="false" data-widget-colorbutton="false"
                             data-widget-deletebutton="false">

                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->

                            <header>
					<span class="widget-icon"> <i class="fa fa-dashboard "></i>
					</span>

                                <h2>สรุปจำนวนโครงการฯ แยกตามสถานะข้อมูล</h2>

                            </header>

                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <div>
                                        <label>Title:</label> <input type="text"/>
                                    </div>
                                </div>
                                <!-- end widget edit box -->

                                <div class="widget-body no-padding">
                                    <!-- content goes here -->
                                    <div class="google-chart" google-chart chart="chartStatus"></div>
                                    <!-- end content -->

                                </div>

                            </div>
                            <!-- end widget div -->
                        </div>

                        <!-- new widget -->
                        <div class="jarviswidget jarviswidget-color-knowledge" id="wid-id-5"
                             data-widget-togglebutton="false" data-widget-editbutton="false"
                             data-widget-fullscreenbutton="false" data-widget-colorbutton="false"
                             data-widget-deletebutton="false">

                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->

                            <header>
					<span class="widget-icon"> <i
                            class="fa fa-dashboard txt-color-white"></i>
					</span>

                                <h2>สรุปจำนวนแนวคิดทฤษฎีฯ แยกตามพระนาม</h2>
                                <!-- <div class="widget-toolbar">
                                add: non-hidden - to disable auto hide

                                </div>-->
                            </header>

                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <div>
                                        <label>Title:</label> <input type="text"/>
                                    </div>
                                </div>
                                <!-- end widget edit box -->

                                <div class="widget-body no-padding smart-form">
                                    <!-- content goes here -->
                                    <div class="google-chart" google-chart chart="chartKnowledge"></div>
                                    </canvas>
                                    <!-- end content -->
                                </div>

                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget -->


                    </article>
                </div>

                <!-- end row -->


            </section>
        </div>
        <div class="tab-pane fade" id="l2">
            <div class="row">
                <div class="col-xs-12">
                    <div class="project well margin-bottom-10"><h3>สรุปจำนวนโครงการฯ แยกตามพระนาม</h3>

                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th rowspan="2">ในพระองค์</th>
                                    <th rowspan="2">จำนวนโครงการ</th>
                                    <th colspan="5" class="text-center">พื้นที่ได้รับประโยชน์</th>
                                </tr>
                                <tr>
                                    <th>จำนวนไร่ฤดูฝน</th>
                                    <th>จำนวนไร่ฤดูแล้ง</th>
                                    <th>จำนวนหมู่บ้าน</th>
                                    <th>จำนวนครัวเรือน</th>
                                    <th>จำนวนคน</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="p : ${projectRoyaltyReports}" data-th-object="${p}">
                                    <td data-th-text="*{royaltyName}">Row 1</td>
                                    <td data-th-text="*{total}">Row 2</td>
                                    <td data-th-text="${#numbers.formatInteger(p.areaRainy,1,'COMMA')}">Row 3</td>
                                    <td data-th-text="${#numbers.formatInteger(p.areaSummer,1,'COMMA')}">Row 4</td>
                                    <td data-th-text="${#numbers.formatInteger(p.village,1,'COMMA')}">Row 5</td>
                                    <td data-th-text="${#numbers.formatInteger(p.household,1,'COMMA')}">Row 6</td>
                                    <td data-th-text="${#numbers.formatInteger(p.citizen,1,'COMMA')}">Row 7</td>
                                </tr>
                                <tr data-th-object="${projectRoyaltyReportsTotal}">
                                    <td data-th-text="*{royaltyName}">Row 1</td>
                                    <td data-th-text="*{total}">Row 2</td>
                                    <td data-th-text="${#numbers.formatInteger(projectRoyaltyReportsTotal.areaRainy,1,'COMMA')}">
                                        Row 3
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectRoyaltyReportsTotal.areaSummer,1,'COMMA')}">
                                        Row 4
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectRoyaltyReportsTotal.village,1,'COMMA')}">
                                        Row 5
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectRoyaltyReportsTotal.household,1,'COMMA')}">
                                        Row 6
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectRoyaltyReportsTotal.citizen,1,'COMMA')}">
                                        Row 7
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="project well margin-bottom-10"><h3>สรุปจำนวนโครงการฯ แยกตามภาค</h3>

                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th rowspan="2">ภาค</th>
                                    <th rowspan="2">จำนวนโครงการ</th>
                                    <th colspan="5" class="text-center">พื้นที่ได้รับประโยชน์</th>
                                </tr>
                                <tr>
                                    <th>จำนวนไร่ฤดูฝน</th>
                                    <th>จำนวนไร่ฤดูแล้ง</th>
                                    <th>จำนวนหมู่บ้าน</th>
                                    <th>จำนวนครัวเรือน</th>
                                    <th>จำนวนคน</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="p : ${projectRegionReports}" data-th-object="${p}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="*{total}">Row 2</td>
                                    <td data-th-text="${#numbers.formatInteger(p.areaRainy,1,'COMMA')}">Row 3</td>
                                    <td data-th-text="${#numbers.formatInteger(p.areaSummer,1,'COMMA')}">Row 4</td>
                                    <td data-th-text="${#numbers.formatInteger(p.village,1,'COMMA')}">Row 5</td>
                                    <td data-th-text="${#numbers.formatInteger(p.household,1,'COMMA')}">Row 6</td>
                                    <td data-th-text="${#numbers.formatInteger(p.citizen,1,'COMMA')}">Row 7</td>
                                </tr>
                                <tr data-th-object="${projectRegionReportsTotal}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="*{total}">Row 2</td>
                                    <td data-th-text="${#numbers.formatInteger(projectRegionReportsTotal.areaRainy,1,'COMMA')}">
                                        Row 3
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectRegionReportsTotal.areaSummer,1,'COMMA')}">
                                        Row 4
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectRegionReportsTotal.village,1,'COMMA')}">
                                        Row 5
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectRegionReportsTotal.household,1,'COMMA')}">
                                        Row 6
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectRegionReportsTotal.citizen,1,'COMMA')}">
                                        Row 7
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
                <div class="col-xs-12">
                    <div class="project well margin-bottom-10"><h3>สรุปจำนวนโครงการฯ แยกตามประเภทโครงการ</h3>

                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th rowspan="2">ประเภทโครงการ</th>
                                    <th rowspan="2">จำนวนโครงการ</th>
                                    <th colspan="5" class="text-center">พื้นที่ได้รับประโยชน์</th>
                                </tr>
                                <tr>
                                    <th>จำนวนไร่ฤดูฝน</th>
                                    <th>จำนวนไร่ฤดูแล้ง</th>
                                    <th>จำนวนหมู่บ้าน</th>
                                    <th>จำนวนครัวเรือน</th>
                                    <th>จำนวนคน</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="p : ${projectTypeReports}" data-th-object="${p}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="*{total}">Row 2</td>
                                    <td data-th-text="${#numbers.formatInteger(p.areaRainy,1,'COMMA')}">Row 3</td>
                                    <td data-th-text="${#numbers.formatInteger(p.areaSummer,1,'COMMA')}">Row 4</td>
                                    <td data-th-text="${#numbers.formatInteger(p.village,1,'COMMA')}">Row 5</td>
                                    <td data-th-text="${#numbers.formatInteger(p.household,1,'COMMA')}">Row 6</td>
                                    <td data-th-text="${#numbers.formatInteger(p.citizen,1,'COMMA')}">Row 7</td>
                                </tr>
                                <tr data-th-object="${projectTypeReportsTotal}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="*{total}">Row 2</td>
                                    <td data-th-text="${#numbers.formatInteger(projectTypeReportsTotal.areaRainy,1,'COMMA')}">
                                        Row 3
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectTypeReportsTotal.areaSummer,1,'COMMA')}">
                                        Row 4
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectTypeReportsTotal.village,1,'COMMA')}">
                                        Row 5
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectTypeReportsTotal.household,1,'COMMA')}">
                                        Row 6
                                    </td>
                                    <td data-th-text="${#numbers.formatInteger(projectTypeReportsTotal.citizen,1,'COMMA')}">
                                        Row 7
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="project well margin-bottom-10">
                        <h3>สรุปจำนวนโครงการฯ แยกตามสถานะข้อมูล</h3>

                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th rowspan="2">ภาค</th>
                                    <th rowspan="2">จำนวนโครงการ</th>
                                    <th colspan="5" class="text-center">สถานะข้อมูล</th>
                                </tr>
                                <tr>
                                    <th>ครบถ้วน</th>
                                    <th>ไม่ครบถ้วนมีเฉพาะข้อมูล</th>
                                    <th>ไม่ครบถ้วนมีเฉพาะรูป</th>
                                    <th>ไม่ได้เพิ่มข้อมูล</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="p : ${projectStatusReportsByRegion}" data-th-object="${p}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="*{total}">Row 2</td>
                                    <td data-th-text="*{complete}">Row 3</td>
                                    <td data-th-text="*{only_data}">Row 4</td>
                                    <td data-th-text="*{only_photo}">Row 5</td>
                                    <td data-th-text="*{not_input}">Row 6</td>
                                </tr>
                                <tr data-th-object="${projectStatusReportsByRegionTotal}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="*{total}">Row 2</td>
                                    <td data-th-text="*{complete}">Row 3</td>
                                    <td data-th-text="*{only_data}">Row 4</td>
                                    <td data-th-text="*{only_photo}">Row 5</td>
                                    <td data-th-text="*{not_input}">Row 6</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
                <!--end col-->
            </div>
            <!--end row-->
            <div class="row">
                <div class="col-md-6">
                    <div class=" idea well margin-bottom-10"><h3>สรุปจำนวนพระราชดำริ แยกตามพระนาม</h3>

                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ในพระองค์</th>
                                    <th>จำนวนพระราชดำริ</th>

                                </tr>

                                </thead>
                                <tbody>
                                <tr data-th-each="p : ${sumIdeaReports}" data-th-object="${p}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="${#numbers.formatInteger(p.total,1,'COMMA')}">Row 2</td>
                                </tr>
                                <tr data-th-object="${sumIdeaReportsTotal}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="${#numbers.formatInteger(sumIdeaReportsTotal.total,1,'COMMA')}">
                                        Row 2
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="knowledge well margin-bottom-10"><h3>สรุปจำนวนแนวคิดทฤษฎีฯ แยกตามพระนาม</h3>

                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ในพระองค์</th>
                                    <th>จำนวนแนวคิดทฤษฎีฯ</th>

                                </tr>

                                </thead>
                                <tbody>
                                <tr data-th-each="p : ${sumKnowledgeReports}" data-th-object="${p}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="${#numbers.formatInteger(p.total,1,'COMMA')}">Row 2</td>
                                </tr>
                                <tr data-th-object="${sumKnowledgeReportsTotal}">
                                    <td data-th-text="*{name}">Row 1</td>
                                    <td data-th-text="${#numbers.formatInteger(sumKnowledgeReportsTotal.total,1,'COMMA')}">
                                        Row 2
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- end widget grid -->
<script type="text/javascript" data-th-inline="javascript">
    /*<![CDATA[*/


    var regions = /*[[${regions}]]*/ ['เหนือ'];
    var regionStat = /*[[${regionStat}]]*/ ['เหนือ'];

    var types = /*[[${types}]]*/ ['เหนือ'];
    var typeStat = /*[[${typeStat}]]*/ ['เหนือ'];

    var royaltys = /*[[${royaltys}]]*/ ['เหนือ'];
    var royaltyStat = /*[[${royaltyStat}]]*/ ['เหนือ'];

    var ideas = /*[[${ideas}]]*/ ['เหนือ'];
    var ideaStat = /*[[${ideaStat}]]*/ ['เหนือ'];


    var knowledges = /*[[${knowledges}]]*/ ['เหนือ'];
    var knowledgeStat = /*[[${knowledgeStat}]]*/ ['เหนือ'];

    var statuses = /*[[${status}]]*/ ['เหนือ'];
    var statusStat = /*[[${statusStat}]]*/ ['เหนือ'];


    /*]]>*/
</script>
<script type="text/javascript">
    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();

    /*
     * PAGE RELATED SCRIPTS
     */

    // pagefunction
    var pagefunction = function () {
        function extractColor(data) {
            var data2 = [];
            for (var i = 0; i < data.rows.length; i++) {
                data2.push(data.rows[i]);
            }

            return $.map(data2, function (val, i) {
                return val.c[2].v;
            });
        }

        angular.module('dashboard', ['googlechart'])
                .controller('DashboardController', ['$scope', '$http', function ($scope, $http) {
                    var colors = ["#ff9900", "#109618", "#990099", "#0099c6", "#3366cc", "#dc3912",
                        "#2f63cf", "#de3700", "#ff9a00", "#9b009b", "#0098c8", "#949FB1", "#4D5360"];

                    // start Region chart
                    $scope.chartRegion = {};

                    var cols = [
                        {id: "t", label: "ภาค", type: "string"},
                        {id: "s", label: "จำนวนโครงการ", type: "number"},
                        {id: 'style', role: 'style', type: 'string'},
                        {id: 'annotation', role: 'annotation', type: 'number'}
                    ];

                    extracted(regionStat, regions, cols, $scope.chartRegion);
                    // $routeParams.chartType == BarChart or PieChart or ColumnChart...
                    $scope.chartRegion.type = 'ColumnChart';
                    $scope.chartRegion.options = {
                        chartArea: {left: 140, top: 20, width: "70%", height: "80%"},
                        'legend': 'none',
                        'annotations': {
                            'alwaysOutside': true
                        }
                    };
                    // end the region chart

                    // start Status chart
                    $scope.chartStatus = {};
                    cols = [
                        {id: "t", label: "สถานะข้อมูล", type: "string"},
                        {id: "s", label: "จำนวนโครงการ", type: "number"},
//                        {id: 'style', role: 'style', type: 'string'},
//                        {id: 'annotation', role: 'annotation', type: 'number'}
                    ];

                    extracted(statusStat, statuses, cols, $scope.chartStatus);

                    $scope.chartStatus.type = 'PieChart';
                    $scope.chartStatus.options = {
                        chartArea: {left: 20, top: 20, width: "90%", height: "90%"},
                        'legend': 'right',
                        pieHole: 0.4,
//                        isStacked: true
                    };
                    // end the status chart

                    // start Royalty chart
                    $scope.chartRoyalty = {};

                    cols = [
                        {id: "t", label: "พระนาม", type: "string"},
                        {id: "s", label: "จำนวนโครงการ", type: "number"},
                        {id: 'style', role: 'style', type: 'string'},
                        {id: 'annotation', role: 'annotation', type: 'number'}
                    ];

                    extracted(royaltyStat, royaltys, cols, $scope.chartRoyalty);
                    var royaltyColor = extractColor($scope.chartRoyalty.data);
                    console.log(royaltyColor);

                    // $routeParams.chartType == BarChart or PieChart or ColumnChart...
                    $scope.chartRoyalty.type = 'PieChart';
                    $scope.chartRoyalty.options = {
                        chartArea: {left: 20, top: 20, width: "90%", height: "90%"},
                        is3D: true,
                        colors: royaltyColor
                    };
                    // end the region chart
                    // start Royalty chart
                    $scope.chartIdea = {};

                    cols = [
                        {id: "t", label: "พระนาม", type: "string"},
                        {id: "s", label: "จำนวนพระราชดำริ", type: "number"},
                        {id: 'style', role: 'style', type: 'string'},
                        {id: 'annotation', role: 'annotation', type: 'number'}
                    ];

                    extracted(ideaStat, ideas, cols, $scope.chartIdea);
                    // $routeParams.chartType == BarChart or PieChart or ColumnChart...
                    $scope.chartIdea.type = 'ColumnChart';
                    $scope.chartIdea.options = {
                        chartArea: {left: 100, top: 20, width: "80%", height: "70%"},
                        is3D: true,
                        legend: 'none',
                        'annotations': {
                            'alwaysOutside': true
                        }
                    };
                    // end the royalty chart

                    // start type chart
                    $scope.chartType = {};

                    cols = [
                        {id: "t", label: "ประเภท", type: "string"},
                        {id: "s", label: "จำนวนโครงการ", type: "number"},
                        {id: 'style', role: 'style', type: 'string'}, {
                            id: 'annotation',
                            role: 'annotation',
                            type: 'number'
                        }
                    ];

                    extracted(typeStat, types, cols, $scope.chartType);
                    // $routeParams.chartType == BarChart or PieChart or ColumnChart...
                    $scope.chartType.type = 'BarChart';
                    $scope.chartType.options = {
                        chartArea: {left: 150, top: 20, width: "60%", height: "80%"}, is3D: true, pieSliceText: 'value',
                        legend : 'none',
                        'annotations': {
                            'alwaysOutside': true
                        }

                    };
                    // end the type chart
                    // start knowledge chart
                    $scope.chartKnowledge = {};

                    cols = [
                        {id: "t", label: "ประเภท", type: "string"},
                        {id: "s", label: "จำนวนแนวคิดทฤษฎีฯ", type: "number"},
                        {id: 'style', role: 'style', type: 'string'}
                    ];

                    extracted(knowledgeStat, knowledges, cols, $scope.chartKnowledge);
                    var knowledgeColor = extractColor($scope.chartKnowledge.data);
                    // $routeParams.chartType == BarChart or PieChart or ColumnChart...
                    $scope.chartKnowledge.type = 'PieChart';
                    $scope.chartKnowledge.options = {
                        chartArea: {left: 30, top: 20, width: "95%", height: "80%"}, is3D: true, pieSliceText: 'value',
                        colors: knowledgeColor

                    };
                    // end the knowledge chart


                    function extracted(stat, names, cols, target) {
                        Number.prototype.formatMoney = function (c, d, t) {
                            var n = this,
                                    c = isNaN(c = Math.abs(c)) ? 2 : c,
                                    d = d == undefined ? "." : d,
                                    t = t == undefined ? "," : t,
                                    s = n < 0 ? "-" : "",
                                    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                                    j = (j = i.length) > 3 ? j % 3 : 0;
                            return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
                        };

                        var rows = $.map(stat, function (val, i) {
                            val = val.replace(',', '');
                            var color = '';
                            switch (names[i]) {
                                case 'พระบาทสมเด็จพระเจ้าอยู่หัว':
                                    color = '#F3C110';
                                    break;
                                case 'สมเด็จพระนางเจ้า ฯ พระบรมราชินีนาถ':
                                    color = '#42ABD8';
                                    break;
                                case 'สมเด็จพระศรีนครินทราบรมราชชนนี':
                                    color = '#D52731';
                                    break;
                                case 'สมเด็จพระบรมโอรสาธิราช ฯ สยามมกุฎราชกุมาร':
                                    color = '#F8E386';
                                    break;
                                case 'สมเด็จพระเทพรัตนราชสุดา ฯ สยามบรมราชกุมารี':
                                    color = '#A72CD5';
                                    break;
                                case 'สมเด็จพระเจ้าลูกเธอ เจ้าฟ้าจุฬาภรณวลัยลักษณ์ อัครราชกุมารี':
                                    color = '#FE6D2C';
                                    break;
                                default:
                                    color = colors[i];
                            }

                            return {
                                c: [
                                    {v: names[i]},
                                    {v: parseInt(val)},
                                    {v: color},
                                    {v: parseInt(val).formatMoney(0)}
                                ]
                            }
                        });
                        target.data = {
                            "cols": cols, "rows": rows
                        };
                    }

                }]);
        angular.element('idApp').ready(function () {
            angular.bootstrap('#widget-grid', ['dashboard']);
        });
    };

    // end pagefunction

    // run pagefunction on load
    $LAB.
            script('/js/bower_components/Chart.js/Chart.min.js')
            .script('/js/bower_components/angular-google-chart/ng-google-chart.js')
            .wait(function () {
                Chart.defaults.global.animation = false;
                pagefunction();
            });


</script>
