<style>

    .btn i {
        font-size: 1.5em;
    }

    legend {
        font-size: 1.5em;
    }

    .radio-inline {
        font-size: 1.25em;
    }

    .select2-container {
        width: 100% !important;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    legend {
        font-family: supermarketregular;
        font-size: 2em;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .control-label {
        margin-top: 5px;
        font-size: 1.25em;
    }

    .select2-container .select2-choice {
        height: 45px;
        line-height: 45px;
        font-size: 17px;
    }

    #formMenu {
        top: 100px;
        z-index: 1;
        width: 100%;
    }

    .iframeUpload {
        width: 100%;
        border-style: none;
        min-height: 220px;
    }

    .well {
        background: url(../img/mybg.png) #fff;
    }
</style>

<div class="row" style="margin-bottom: 10px;" data-th-remove="all">
    <!-- SuperBox -->
    <form action="#" data-th-action="'/admin/idea/gallery/' + ${target.uuid}  + '/delete'" method="post">
        <input type="hidden" name="deleteIndex" value="0"/>

        <div class="superbox col-sm-8" data-th-remove="all-but-first"
             style="  border-right: rgb(249, 236, 236);border-right-width: 1px;border-right-style: solid;">
            <div class="superbox-list" data-th-each="i : ${topImage}" data-th-alt="${iStat.index}">
                <img src="img/superbox/superbox-thumb-1.jpg" data-img="img/superbox/superbox-full-1.jpg"
                     alt="My first photoshop layer mask on a high end PSD template theme" title="Miller Cine"
                     data-th-alt="''" data-th-title="'รูปที่ ' + ${iStat.index + 1}"
                     class="superbox-img" data-th-src="${i.serveURL}+'=s120-c'" data-th-attr="data-img=${i.serveURL}">
            </div>
            <div class="superbox-float"></div>
        </div>
    </form>
    <!-- /SuperBox -->

    <div class="superbox-show" style="height:300px; display: none"></div>
    <div class="col-sm-4" data-th-object="${target}">
        <div class="row form-group" style="color: crimson;">
            <div data-th-each="f : *{files}" class="col-xs-3 col-lg-6">
                <div class="afile" style="">

                    <a href="#"
                       data-th-href="'/admin/idea/download/' + ${f.key} + '/' + ${f.fileName}"><i
                            class="fa fa-file-word-o" data-th-class="${f.logo}"></i>
                        <span data-th-text="${f.fileName}">word file</span></a>

                    <button type="button" class="btn btn-danger btn-xs pull-right" data-toggle="modal"
                            data-target="#deleteFileModal" data-th-onclick="'removeFile('+${fStat.index}+');'"><i
                            class="fa fa-trash-o "></i></button>
                </div>

            </div>
        </div>
    </div>

</div>
<!--end file and photo-->

<!-- row -->
<form id="uploadForm" method="post" data-th-action="${uploadUrl}"
      data-th-object="${target}">
    <input type="hidden" data-th-field="*{uuid}">


    <!--topmenu-->
    <div style="margin-bottom: 20px; height: 36px;">


        <div class="row">
            <div class="col col-xs-6 ">
                <div id="formMenu" class="affix-top">
                    <button type="submit" class="btn btn-default btn-success" rel="tooltip" data-placement="top"
                            data-original-title="บันทึก">
                        <i class="fa fa-save"></i></button>
                    <button type="button" onclick="window.close();" class="btn btn-default btn-warning" rel="tooltip"
                            data-placement="top"
                            data-original-title="ยกเลิก"><i class="fa fa-times"></i></button>
                    <button type="button" class="btn btn-default btn-danger" rel="tooltip" data-placement="top"
                            data-original-title="ลบทิ้ง" data-target="#deleteModal" data-toggle="modal"
                            data-th-if="*{uuid} != null">
                        <i class="fa fa-trash-o"></i></button>
                </div>
            </div>
            <div class="col col-xs-6">


            </div>
        </div>
    </div>
    <!--end top menu-->
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div class="form-horizontal well">

                <fieldset>
                    <legend>รายละเอียดพระราชดำริ</legend>

                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group" style="margin: 0px 0px 10px;">
                                <label class="control-label" style="margin-bottom: 10px;;">รายละเอียดพระราชดำริ<span
                                        style="color: red;">*</span></label>


                        <textarea class="form-control input-lg" placeholder="กรอกรายละเอียดพระราชดำริ" rows="14"
                                  data-th-field="*{detail}"></textarea>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">ในพระองค์<span
                                        style="color: red;">*</span></label>

                                <div class="col-md-8"><select class="form-control input-lg"
                                                              data-th-field="*{royaltyID}">
                                    <option value="">=เลือก=</option>
                                    <option data-th-each="r : ${royalty}" data-th-text="${r.name}"
                                            data-th-value="${r.uuid}">พระบาทสมเด็จพระเจ้าอยู่หัว
                                    </option>
                                </select></div>
                            </div>


                        </div>
                        <div class="col-md-6">

                            <div class="form-group" style="margin: 0px 0px 10px;">
                                <label class="control-label" style="margin-bottom: 10px;">สถานที่พระราชทาน<span
                                        style="color: red;">*</span></label>

                            <textarea class="form-control input-lg" placeholder="กรอกสถานที่พระราชทานพระราชดำริ"
                                      rows="9"
                                      id="address" name="address" data-th-field="*{address}"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-4 control-label">จังหวัด<span
                                        style="color: red;">*</span></label>

                                <div class="col-lg-8">
                                    <select class="select2" data-th-field="*{provinceID}" id="selectProvince">
                                        <option data-th-value="''">=เลือก=</option>
                                        <option data-th-each="p : ${provinces}" data-th-text="${p.name}"
                                                data-th-value="${p.uuid}"
                                                >กรุงเทพมหานคร
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" data-th-remove="all">
                                <label class="col-lg-4 control-label">ปีที่พระราชทาน<span
                                        style="color: red;">*</span></label>

                                <div class="col-lg-8">
                                    <select class="select2" id="year" data-th-field="*{year}">
                                        <option data-th-each="i : ${#numbers.sequence(#dates.year(#dates.createNow()) + 543, 2490)}"
                                                data-th-value="${i}" data-th-text="${i}"
                                                data-th-selected="${ i==9 } ">Options
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">วันที่พระราชทาน<span
                                        style="color: red;">*</span></label>

                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input class="datepicker-custom form-control input-lg" type="text"
                                               data-provide="datepicker" data-date-language="th-th"
                                               data-date-format="dd-mm-yyyy"
                                               data-th-field="*{date}">

                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label" style="">แหล่งที่มา</label>

                                <div class="col-xs-8">
                                    <select class="form-control input-lg" data-th-field="*{source}" id="">
                                        <option value="1">พระราชดำริ</option>
                                        <option value="2">ราษฎรขอพระราชทานพระมหากรุณา (ฎีกา)</option>
                                        <option value="3">หน่วยงานขอพระราชทาน</option>
                                    </select>

                                </div>
                            </div>


                        </div>
                    </div>


                </fieldset>
            </div>
            <!-- end general info -->
        </div>
    </div>
    <hr style="
    border-width: 3px;
    border-style: outset;
">
    <div class="row" data-th-if="*{uuid} != null">
        <div class="col-md-6">
            <!--<div class="form-horizontal well" style="min-height: 315px;">-->
            <!--<fieldset>-->
            <!--<legend>รูปภาพโครงการ</legend>-->
            <iframe class="iframeUpload" data-th-src="'/admin/idea/' + *{uuid} + '/uploadPhoto'"
                    seamless="seamless" style="height: 600px;"></iframe>
            <!--</fieldset>-->
            <!--</div>-->
        </div>

        <!-- photo -->
        <div class="col-md-6">
            <!--<div class="form-horizontal well" style="min-height: 315px;">-->
            <!--<fieldset>-->
            <!--<legend>รูปภาพโครงการ</legend>-->
            <iframe class="iframeUpload" data-th-src="'/admin/idea/' + *{uuid} + '/uploadFile'"
                    seamless="seamless" style="height: 600px;"></iframe>
            <!--</fieldset>-->
            <!--</div>-->
        </div>

        <!--end file list-->

    </div>

    <!-- end document and photo -->
    <div class="form-horizontal well" style="min-height: 315px;" data-th-if="${#lists.size(relatedProject) != 0}">
        <fieldset>
            <legend>รายชื่อ โครงการอันเนื่องมาจากพระราชดำรินี้</legend>
        </fieldset>


        <div class="table-responsive">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ชื่อโครงการ</th>
                    <th>โครงการในพระองค์</th>
                    <th>ประเภทโครงการ</th>
                    <th>ปีที่เริ่มโครงการ</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="p : ${relatedProject}">
                    <td><a data-th-text="${p.name}" data-th-href="'#/admin/royalproject/' + ${p.uuid}">Row 1</a></td>
                    <td data-th-text="${p.royaltyID.name}">Row 2</td>
                    <td data-th-text="${p.typeID.name}">Row 3</td>
                    <td data-th-text="${p.year}">Row 4</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!--end related project-->


</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form data-th-action="'/admin/idea/' + ${target.uuid} + '/deleteFile'" method="post">
            <input type="hidden" name="close" value="true">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">ลบเอกสารประกอบโครงการ</h4>
                </div>
                <div class="modal-body no-padding">

                    <div class="smart-form">
                        <fieldset style="padding: 20px;">
                            <section>
                                <label class="label">เลือกเอกสารที่ต้องการลบ</label>
                                <label class="checkbox" data-th-each="f : ${target.files}">
                                    <input type="checkbox" name="checkbox" name="deleteIndex"
                                           data-th-value="${fStat.index}">
                                    <i></i><span data-th-text="${f.fileName}">Alexandra</span></label>
                            </section>
                            <p>เมื่อคุณลบเอกสารแล้ว ไม่สามารถเรียกคืนกลับมาได้อีก</p>

                        </fieldset>

                        <footer>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                                ลบเอกสาร
                            </button>
                        </footer>
                    </div>


                </div>

            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal -->


<div class="modal fade" id="deleteModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    ลบพระราชดำริ
                </h4>
            </div>
            <div class="modal-body no-padding">

                <form action="/admin/idea/delete"
                      id="login-form" class="smart-form">
                    <input type="hidden" name="close" value="true">
                    <input type="hidden" name="id" value="uuid" data-th-value="${target.uuid}">
                    <fieldset>
                        <section>
                            <div class="row">
                                <div class="col col-12">
                                    กรุณายืนยันหากต้องการลบข้อมูลนี้
                                </div>
                            </div>
                        </section>
                    </fieldset>

                    <footer>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            ยกเลิก
                        </button>
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                            ยืนยัน
                        </button>
                    </footer>

                </form>

            </div>


        </div>
    </div>
</div>

<script type="text/javascript">
    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();

    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     *
     * var pagefunction = function() {
     *   ...
     * }
     * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
     *
     */


    // PAGE RELATED SCRIPTS

    // pagefunction
    var error = function () {

        $.smallBox({
            title: "กรุณากรอกข้อมูลให้ครบถ้วน",
            content: "กรุณาตรวจเช็คและกรอกข้อมูลให้ครบถ้วน",
            color: "#E74243",
            iconSmall: "fa fa-exclamation-triangle bounce animated",
            timeout: 4000
        });
    }
    var newIdea = $('input[name=uuid]').val() == '';


    var pagefunction = function () {
        $('#formMenu').affix({
            offset: {
                top: 100,
                bottom: function () {
                    return (this.bottom = $('.footer').outerHeight(true))
                }
            }
        });

        $('.breadcrumb').append("<li>พระราชดำริ</li>");
        if (newIdea) {
            window.document.title = 'เพิ่มข้อมูล';
            $('.breadcrumb').append("<li>เพิ่มข้อมูล</li>");
        }
        else {
            window.document.title = 'แก้ไขข้อมูล';
            $('.breadcrumb').append("<li>แก้ไขข้อมูล</li>");

        }

//        $('.superbox').SuperBox();
//
//        $('.superbox-list').click(function () {
//            $('input[name=deleteIndex]').val($(this).attr('alt'));
//        });

        $('#login-form').submit(function (e) {
            e.preventDefault();
            var now = new Date();
            $.ajax({
                url: $(this).attr('action'),
                data: $(this).serializeArray(),
                success: function () {
                    var rightNow = new Date();
                    var timeUsed = rightNow.getMilliseconds() - now.getMilliseconds();
                    $.smallBox({
                        title: "รายการนี้ถูกลบทิ้งไปแล้ว",
                        content: "<i class='fa fa-clock-o'></i> <i>" + Math.ceil(timeUsed / 1000) + " seconds ago...</i>",
                        color: "#E74243",
                        iconSmall: "fa fa-exclamation-triangle bounce animated",
                    });
                    setTimeout(function () {
                        window.close();
                    }, 1000);

                }
            });
        });

        $('#uploadForm').submit(function (e) {
//            alert('hi');
            e.preventDefault();
            var serializeArray = $('#uploadForm').serializeArray();

            var now = new Date();

            if ($('#detail').val() == '' || $('#date').val() == '' || $('#selectProvince').val() == '' || $('#royaltyID').val() == '' || $('#address').val() == '') {
                error();
            }
            else
                $.ajax({
                    type: 'post',
                    url: $(this).attr('action'),
                    data: serializeArray,
                    success: function (data) {

                        var rightNow = new Date();
                        var timeUsed = rightNow.getMilliseconds() - now.getMilliseconds();

                        $.smallBox({
                            title: "บันทึกเรียบร้อยแล้ว",
                            content: "<i class='fa fa-clock-o'></i> <i>" + Math.ceil(timeUsed / 1000) + " seconds ago...</i>",
                            color: "#49b4441",
                            iconSmall: "fa fa-save bounce animated",
                            timeout: 4000
                        });

                        if (newIdea) {
                            setTimeout(function () {
                                window.location = '/admin#/admin/idea/' + data;
                            }, 1000);
                        }

                    }
                });
        });

    };
    var removeFile = function (value) {
        $('#deleteFileModal button[type=submit]').val(value);
    }


    // end pagefunction

    // run pagefunction on load

    loadScript("js/plugin/superbox/superbox.min-r.js", function () {
        loadScript("/js/bootstrap-datepicker-thai/js/bootstrap-datepicker.custom.js", function () {
            loadScript("/js/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js", function () {
                loadScript("/js/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js", function () {
                    pagefunction();
                });
            });
        });
    });


</script>