<style type="text/css">
    .nav, .pagination, .carousel, .panel-title a {
        cursor: pointer;
        margin: 0px;
    }

    .select2-hidden-accessible {
        display: none !important;
    }

</style>
<!--
	The ID "widget-grid" will start to initialize all widgets below 
	You do not need to use widgets if you dont want to. Simply remove 
	the <section></section> and you can use wells or panels instead 
	-->

<!-- widget grid -->
<section id="widget-grid" class="" ng-controller="IdeaController">

    <!-- row -->
    <form class=" pull-right" ng-submit="search()">
        <!-- row -->
        <div class="row" style="margin-bottom: 0px;">

            <div class="col-lg-6">

                <!-- #SEARCH -->
                <!-- input: search field -->
                <div class="row">
                    <div class="col-xs-10" style="padding-right: 0px;">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input class="form-control" id="prepend" placeholder="ค้นหา" type="text"
                                   ng-model="query">
                        </div>
                    </div>

                </div>
                <br>


                <!-- end input: search field --> </div>
            <div class="col-lg-5">

                <pagination max-size="8" total-items="totalItems" ng-model="currentPage"
                            ng-change="pageChanged()" previous-text="ก่อนหน้า" next-text="ถัดไป"></pagination>
            </div>
            <div class="col-lg-1">
                <a href="#/admin/idea/new" class="btn btn-success pull-right" data-original-title="เพิ่มข้อมูล"
                   data-placement="top"
                   rel="tooltip">
                    <i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="row hidden-xs" style="margin-bottom: 15px;">

            <div class="col-lg-3">
                <select class="select2" id="year">
                    <option value="0">ปี</option>
                    <option data-th-each="i : ${#numbers.sequence(#dates.year(#dates.createNow()) + 543, 2490)}"
                            data-th-value="${i}" data-th-text="${i}"
                            data-th-selected="${ i==9 } ">Options
                    </option>
                </select>
            </div>
            <div class="col-lg-4">
                <select class="select2" id="province">
                    <option value="0">จังหวัด</option>
                    <option data-th-each="p : ${provinces}" data-th-value="${p.name}"
                            data-th-text="${p.name}"></option>
                </select>
            </div>
            <div class="col-lg-4">
                <select class="select2" id="royalty">
                    <option value="0">พระนาม</option>
                    <option data-th-each="p : ${royalties}" data-th-value="${p.name}"
                            data-th-text="${p.name}"></option>
                </select>
            </div>
            <div class="col-xs-1" style="padding-left: 5px;">
                <button type="submit" class="btn btn-primary pull-right" style="widdata-th-100%;"
                        data-original-title="ค้นหา" data-placement="top" rel="tooltip">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0"
                 data-widget-editbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
					<span class="widget-icon"> <i class="fa fa-user"></i>
					</span>

                    <h2>รายชื่อพระราชดำริ</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="table-responsive">

                            <form data-th-action="'/admin/royalproject/linkIdea/' + ${target.uuid}" method="post">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1">คำสั่ง</th>
                                        <th class="col-md-6">รายละเอียดพระราชดำริ</th>
                                        <th>ในพระองค์</th>
                                        <th>ปี</th>
                                        <th>จังหวัด</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="p in list">
                                        <td>
                                            <button type="submit" name="ideaID" value="{{p.uuid}}"
                                                    class="btn btn-info btn-xs bg-color-orangeDark"
                                                    data-placement="top" rel="tooltip"
                                                    data-original-title="เชื่อมพระราชดำริ"><i class="fa fa-link"></i></button>
                                        </td>
                                        <td>{{p.detail}}</td>
                                        <td>{{p.royaltyID.name}}</td>
                                        <td>{{p.year}}</td>
                                        <td>{{p.provinceID.name}}</td>

                                    </tr>
                                    </tbody>
                                </table>
                            </form>

                        </div>
                    </div>

                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>


        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

    <!-- row -->

    <div class="row">

        <!-- a blank row to get started -->
        <div class="col-sm-12">
            <!-- your contents here -->
        </div>

    </div>

    <!-- end row -->


</section>
<!-- end widget grid -->


<script type="text/javascript">
    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();
    var tooltip = function () {
        setTimeout(
                function () {
                    $("[rel=tooltip]").tooltip();
                }
                , 3000);
    }
    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     *
     * var pagefunction = function() {
     *   ...
     * }
     * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
     *
     * TO LOAD A SCRIPT:
     * var pagefunction = function (){
     *  loadScript(".../plugin.js", run_after_loaded);
     * }
     *
     * OR you can load chain scripts by doing
     *
     * loadScript(".../plugin.js", function(){
     * 	 loadScript("../plugin.js", function(){
     * 	   ...
     *   })
     * });
     */

    // pagefunction
    var pagefunction = function () {
        // clears the variable if left blank

        angular.module('projectApp', ['ui.bootstrap'])
                .controller('IdeaController', ['$scope', '$http', function ($scope, $http) {


                    var init = function () {
                        $http.get('/admin/idea/count').success(function (data, code) {

                            $scope.totalItems = data;
                            $scope.currentPage = 1;
                            $scope.pageChanged = function () {
                                var page = $scope.currentPage - 1;
                                $http.get('/admin/idea?page=' + page).success(function (data, code) {
                                    $scope.list = data;
                                    tooltip();
                                })
                            }

                        });
                        $http.get('/admin/idea').success(function (data, code) {
                            $scope.list = data;
                            tooltip();
                        })
                    }
                    init();

                    $scope.search = function () {
                        var query = $scope.query;
                        if (typeof(query) == 'undefined') query = '';

                        var year = $('#year').val();
                        var province = $('#province').val();
                        var royalty = $('#royalty').val();

                        if (year == 0 && royalty == 0 && province == 0 && query.trim() == '') {
                            init();
                            return;
                        }
                        var page = 0;

                        if (year != 0) query += " year=(" + year + ')';
                        if (province != 0) query += " province=(" + province + ")";
                        if (royalty != 0) query += " " + royalty;

                        $http.get('/admin/idea/search?query=' + query + '&page=' + page).success(function (data, code) {
                            $scope.list = data;
                            tooltip();
                        })

                        $http.get('/admin/idea/searchCount?query=' + query).success(function (data, code) {

                            $scope.totalItems = data;
                            $scope.currentPage = 1;
                            $scope.pageChanged = function () {
                                var page = $scope.currentPage - 1;
                                $http.get('/admin/idea/search?query=' + query + '&page=' + page).success(function (data, code) {
                                    $scope.list = data;
                                    tooltip();

                                })
                            }
                            tooltip();
                        });
                    }
                }]);
        angular.element('#widget-grid').ready(function () {
            angular.bootstrap('#widget-grid', ['projectApp']);
        });
//        angular.bootstrap($('#widget-grid'));

    };

    // end pagefunction

    // run pagefunction
    loadScript("/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js", function () {
        pagefunction();
    });

</script>


