<style type="text/css">
    .nav, .pagination, .carousel, .panel-title a {
        cursor: pointer;
        margin: 0px;
    }

    .select2-hidden-accessible {
        display: none !important;
    }

    .no-deco {
        text-decoration: none !important;
    }

    .jarviswidget-color-knowledge > header {
        background: #ff9901;
        color: #FFF;
    }


</style>
<!--
	The ID "widget-grid-km" will start to initialize all widgets below 
	You do not need to use widgets if you dont want to. Simply remove 
	the <section></section> and you can use wells or panels instead 
	-->

<!-- widget grid -->
<section id="widget-grid-km" class="" ng-controller="IdeaController">

    <!-- row -->
    <form class="" ng-submit="search()">
        <!-- row -->
        <div class="row" style="margin-bottom: 0px;">

            <div class="col-lg-6">

                <!-- #SEARCH -->
                <!-- input: search field -->
                <div class="row">
                    <div class="col-xs-12" style="padding-right: 0px;">
                        <div class="input-icon-right">
                            <i class="fa fa-times ng-hide" ng-click="clearQuery();"
                               style="cursor: pointer;" ng-show="query.length != 0"></i>
                            <input class="form-control" placeholder="ค้นหา" type="text" ng-model="query"
                                   autocomplete="on">
                        </div>
                    </div>

                </div>
                <br>


                <!-- end input: search field --> </div>
            <div class="col-lg-5">

                <pagination max-size="8" total-items="totalItems" ng-model="currentPage"
                            ng-change="pageChanged()" previous-text="ก่อนหน้า" next-text="ถัดไป"></pagination>
            </div>
            <div class="col-lg-1">
                <a href="#/admin/km/new" class="btn btn-success pull-right" data-original-title="เพิ่มข้อมูล"
                   data-placement="top"
                   rel="tooltip" target="_blank">
                    <i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="row hidden-xs" style="margin-bottom: 15px;">
            <div class="col-lg-5">
                <select class="select2" id="royalty" ng-change="search()" ng-model="royalty"
                        data-placeholder="ในพระองค์">
                    <option value="0">=ในพระองค์=</option>
                    <option data-th-each="p : ${royalties}" data-th-value="${p.id}"
                            data-th-text="${p.name}"></option>
                </select>
            </div>
            <div class="col-lg-2">
                <select class="select2" id="kmType" ng-change="search()" ng-model="type"
                        data-placeholder="ประเภท">
                    <option value="0">=ประเภท=</option>
                    <option data-th-each="p : ${types}" data-th-value="${p.name}"
                            data-th-text="${p.name}"></option>
                </select>
            </div>


            <!--<div class="col-xs-offset-1 col-xs-1" style="padding-left: 5px;">-->
            <button type="submit" class="btn btn-primary pull-right" style="margin-right: 10px;"
                    data-original-title="ค้นหา" data-placement="top" rel="tooltip">
                <i class="fa fa-search"></i>
            </button>
            <!--</div>-->
        </div>
    </form>
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-knowledge" id="wid-id-0"
                 data-widget-editbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true";
                data-widget-sortable="false"

                -->
                <header>
					<span class="widget-icon"> <i class="glyphicons vcard" style="top: -15px; color: white;"></i>
					</span>

                    <h2>แนวคิดทฤษฎีฯ</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="alert alert-warning ng-hide margin-bottom-0" ng-show="list.length == 0">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <strong>ไม่พบข้อมูล</strong>
                        </div>
                        <div class="table-responsive" ng-show="list.length != 0">

                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="col-md-1">คำสั่ง</th>
                                    <th class="col-md-3">ชื่อแนวคิดทฤษฎีฯ</th>
                                    <th class="col-md-5">รายละเอียดแนวคิดทฤษฎีฯ</th>
                                    <th class="col-md-2">ในพระองค์</th>
                                    <th class="col-md-1">ประเภท</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="p in list track by p.uuid">
                                    <td><a class="btn btn-info btn-xs bg-color-orangeDark"
                                           href="/admin#/admin/km/{{p.uuid}}" data-placement="top" rel="tooltip"
                                           data-original-title="แก้ไข" target="_blank"><i class="fa fa-edit"></i> </a>&nbsp;
                                        <button class="btn btn-danger btn-xs hidden-xs" data-toggle="modal"
                                                data-placement="top" rel="tooltip"
                                                data-original-title="ลบ" data-target="#deleteModal{{p.uuid}}"><i
                                                class="fa fa-trash-o"></i>
                                        </button>
                                        <!-- start modal -->
                                        <div class="modal fade" id="deleteModal{{p.uuid}}" tabindex="-1"
                                             role="dialog" aria-labelledby="myModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title">
                                                            ลบแนวคิดทฤษฎีฯ
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body no-padding">

                                                        <form action="/admin/km/delete"
                                                              id="login-form" class="smart-form">
                                                            <input type="hidden" name="id" value="{{p.uuid}}">
                                                            <fieldset>
                                                                <section>
                                                                    <div class="row">
                                                                        <div class="col col-12">
                                                                            กรุณายืนยันหากต้องการลบข้อมูลนี้
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </fieldset>

                                                            <footer>
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    ยกเลิก
                                                                </button>
                                                                <button type="submit" class="btn btn-danger">
                                                                    <i class="fa fa-trash-o"></i>
                                                                    ยืนยัน
                                                                </button>
                                                            </footer>

                                                        </form>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- end modal --></td>
                                    <td><a class="no-deco" href="/admin#/admin/km/{{p.uuid}}"
                                           target="_blank">{{p.name}}</a>
                                    </td>
                                    <td>{{p.detail}}</td>
                                    <td>{{p.royaltyID.name}}</td>
                                    <td>{{p.typeID.name}}</td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>


        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

    <!-- row -->

    <div class="row">

        <!-- a blank row to get started -->
        <div class="col-sm-12">
            <!-- your contents here -->
        </div>

    </div>

    <!-- end row -->


</section>
<!-- end widget grid -->


<script type="text/javascript">
    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();
    var tooltip = function () {
        setTimeout(
                function () {
                    $("[rel=tooltip]").tooltip();
                }
                , 3000);
    }
    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     *
     * var pagefunction = function() {
     *   ...
     * }
     * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
     *
     * TO LOAD A SCRIPT:
     * var pagefunction = function (){
     *  loadScript(".../plugin.js", run_after_loaded);
     * }
     *
     * OR you can load chain scripts by doing
     *
     * loadScript(".../plugin.js", function(){
     * 	 loadScript("../plugin.js", function(){
     * 	   ...
     *   })
     * });
     */

    // pagefunction
    var pagefunction = function () {
        window.document.title = 'ค้นหาข้อมูล'
        // clears the variable if left blank
        $('.breadcrumb').append("<li>ค้นหาข้อมูล</li>");

        angular.module('projectApp', ['ui.bootstrap'])
                .controller('IdeaController', ['$scope', '$http', function ($scope, $http) {
                    $scope.royalty = 0;
                    $scope.type = 0;

                    $scope.query = '';


                    var init = function () {
                        $scope.isSearch = false;
                        $http.get('/admin/km/count').success(function (data, code) {

                            $scope.totalItems = data;
                            $scope.currentPage = 1;
                            $scope.pageChanged = function () {
                                var page = $scope.currentPage - 1;
                                $http.get('/admin/km/json?page=' + page).success(function (data, code) {
                                    $scope.list = data;
                                    tooltip();
                                })
                            }

                        });
                        $http.get('/admin/km/json').success(function (data, code) {
                            $scope.list = data;
                            tooltip();
                        })
                    }
                    init();

                    $scope.search = function () {
                        $scope.isSearch = true;
                        var query = $scope.query;


                        if (typeof(query) == 'undefined') query = '';


                        var royalty = $scope.royalty;
                        var type = $scope.type;

                        if (type == 0 && royalty == 0 && query.trim() == '') {
                            init();
                            return;
                        }
                        var page = 0;

                        if (type != 0) query += " type=(" + type + ")";
                        if (royalty != 0) query += " royalty=(" + royalty + ")";

                        query = encodeURIComponent(query);

                        $http.get('/admin/km/search?query=' + query + '&page=' + page).success(function (data, code) {
                            $scope.list = data;
                            tooltip();
                        })

                        $http.get('/admin/km/searchCount?query=' + query).success(function (data, code) {
                            $scope.totalItems = data;
                            $scope.currentPage = 1;
                            $scope.pageChanged = function () {
                                var page = $scope.currentPage - 1;
                                $http.get('/admin/km/search?query=' + query + '&page=' + page).success(function (data, code) {
                                    $scope.list = data;
                                    tooltip();

                                })
                            }
                            tooltip();
                        });
                    }

                    $scope.clearQuery = function () {
                        $scope.query = '';
                    }


                }]);

        angular.element('#widget-grid-km').ready(function () {
            angular.bootstrap('#widget-grid-km', ['projectApp']);
        });
    }

    // end pagefunction

    // run pagefunction
    pagefunction();

</script>


