<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">

            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-database"></i>
            รายงานการใช้งาน

        </h1>
    </div>
    <!-- end col -->


</div>
<!-- end row -->

<!--
	The ID "widget-grid" will start to initialize all widgets below 
	You do not need to use widgets if you dont want to. Simply remove 
	the <section></section> and you can use wells or panels instead 
	-->

<!-- widget grid -->
<section id="widget-grid" class="" ng-controller="LogController">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="log-wid-id-0" data-widget-colorbutton="false"
                 data-widget-editbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-custombutton="false"
                 data-widget-sortable="false">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-comments"></i> </span>

                    <h2>ประวัติการใช้งาน</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">

                        <!-- this is what the user will see -->
                        <div class="row margin-bottom-10">
                            <div class="col-md-4">
                                <form class="sky-form">
                                    <div class="form-group">
                                        <label class="col-lg-5 control-label text-right" style="padding-top:5px;">วันที่เก็บบันทึกการใช้งาน</label>

                                        <div class="col-lg-7">
                                            <div class="input-group">
                                                <input class="datepicker-custom form-control" type="text"
                                                       data-provide="datepicker" data-date-language="th-th"
                                                       data-date-format="dd-mm-yyyy" data-ng-change="changeDate();"
                                                       data-ng-model="date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--end row-->
                        <p data-ng-if="list.length == 0">ไม่มีข้อมูล</p>

                        <div class="table-responsive" data-ng-if="list.length != 0">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>กิจกรรม</th>
                                    <th>ผู้ใช้งาน</th>
                                    <th>วันที่</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="l in list">
                                    <td>{{$index + 1}}</td>
                                    <td data-ng-if="l.url == null">{{l.action}}</td>
                                    <td data-ng-if="l.url != null"><a href="{{l.url}}" target="_blank">{{l.action}}</a></td>
                                    <td>{{l.username}}</td>
                                    <td>{{l.date | date : 'dd-MM-yyyy hh:mm:ss'}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

    <!-- row -->

    <div class="row">

        <!-- a blank row to get started -->
        <div class="col-sm-12">
            <!-- your contents here -->
        </div>

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/javascript">

    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();

    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     *
     * var pagefunction = function() {
     *   ...
     * }
     * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
     *
     * TO LOAD A SCRIPT:
     * var pagefunction = function (){
     *  loadScript(".../plugin.js", run_after_loaded);
     * }
     *
     * OR you can load chain scripts by doing
     *
     * loadScript(".../plugin.js", function(){
     * 	 loadScript("../plugin.js", function(){
     * 	   ...
     *   })
     * });
     */

    // pagefunction

    var pagefunction = function () {
        // clears the variable if left blank

        angular.module('logApp', []).controller('LogController', ['$scope', '$http', function ($scope, $http) {
//            alert('hi');
            var date = new Date();
            $scope.date = date.getDate() + '-' + (date.getMonth() + 1) + '-' + (date.getFullYear() + 543);
            $scope.list = [];
            $scope.changeDate = function () {
//                alert('hi');
                $http.get('/admin/log', {params: {date: $scope.date}}).success(function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        obj.date = new Date(obj.date);
                        obj.date = obj.date.setFullYear(obj.date.getFullYear() + 543);
                    }
                    $scope.list = data;
                });
            };
            $scope.changeDate();
        }]);
        angular.element('#widget-grid').ready(function () {
            angular.bootstrap('#widget-grid', ['logApp']);
        });
    };

    // end pagefunction

    // run pagefunction
    loadScript("/js/bootstrap-datepicker-thai/js/bootstrap-datepicker.custom.js", function () {
        loadScript("/js/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js", function () {
            loadScript("/js/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js", function () {
                pagefunction();
            });
        });
    });

</script>
