<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h1 class="page-title txt-color-blueDark">

            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-list"></i> ข้อมูลพื้นฐาน
        </h1>
    </div>
</div>


<section id="widget-grid">
    <!-- widget grid -->
    <div class="row">

        <!-- NEW COL START -->
        <article
                class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-sortable" id="wid-id-1"
                 data-widget-editbutton="false" data-widget-custombutton="false"
                 data-ng-controller="RoyaltyController">
                <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                <header>
					<span class="widget-icon"> <i class="fa fa-edit"></i>
					</span>

                    <h2>พระนาม</h2>
                </header>

                <!-- widget div-->
                <div role="content">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <div id="smart-form-register" class="smart-form"
                             novalidate="novalidate">
                            <header>เพิ่มพระนาม</header>
                            <fieldset>
                                <section>
                                    <label class="label">กรอกพระนามที่ต้องการเพิ่ม</label>
                                    <label class="input"> <i class="icon-append fa fa-user">
                                    </i> <input type="text" name="username" placeholder="กรอกพระนามใหม่">
                                        <b class="tooltip tooltip-bottom-right"> เพิ่มพระนามใหม่ </b>
                                    </label>
                                </section>
                                <section>
                                    <button class="btn btn-success btn-sm" data-ng-click="delete()"><i
                                            class="fa fa-plus"></i>&nbsp;เพิ่มพระนาม
                                    </button>
                                </section>
                            </fieldset>
                            <header>แก้ไขพระนาม</header>
                            <fieldset>
                                <section>
                                    <label class="label">เลือกพระนามที่ต้องการแก้ไข</label>
                                    <label class="select select-multiple">
                                        <select multiple="" class="custom-scroll" data-ng-change="select()"
                                                data-ng-model="royalty">
                                            <option value="1">พระบาทสมเด็จพระเจ้าอยู่หัว</option>
                                            <option value="2">Alice</option>
                                            <option value="3">Anastasia</option>
                                            <option value="4">Avelina</option>
                                            <option value="5">Basilia</option>
                                            <option value="6">Beatrice</option>
                                            <option value="7">Cassandra</option>
                                            <option value="8">Clemencia</option>
                                            <option value="9">Desiderata</option>
                                        </select> </label>

                                </section>
                                <section data-ng-show="name != ''">

                                    <div class="row">
                                        <div class="col col-lg-10"><label class="label">แก้ไขพระนาม</label>
                                            <label class="input state-error">
                                                <input type="text" data-ng-model="name">
                                            </label>
                                        </div>
                                        <div class="col col-lg-2"><label class="label">ลบข้อมูล</label>
                                            <button class="btn btn-danger btn-sm" data-ng-click="delete()"><i
                                                    class="fa fa-trash-o"></i>&nbsp;ลบ
                                            </button>
                                        </div>
                                    </div>
                                    <br/>
                                    <button type="submit" class="btn btn-primary btn-sm"><i
                                            class="fa fa-pencil-square-o"></i>&nbsp;แก้ไข
                                    </button>
                                </section>


                            </fieldset>


                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->


        </article>
        <!-- END COL -->

        <!-- NEW COL START -->
        <article
                class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">


            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-sortable" id="wid-id-2"
                 data-widget-editbutton="false" data-widget-custombutton="false"
                 role="widget" data-ng-controller="SliderController">
                <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                <header>
					<span class="widget-icon"> <i class="fa fa-edit"></i>
					</span>

                    <h2>หน้าแรก</h2>
                </header>

                <!-- widget div-->
                <div role="content">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <form id="slideForm" enctype="multipart/form-data" data-th-action="${slideUpload}" method="post"
                              data-th-object="${slider}">
                            <div id="smart-form-register" class="smart-form"
                                 novalidate="novalidate">
                                <header>เพิ่ม Slider</header>
                                <fieldset>
                                    <section>
                                        <label class="label">แถวที่ 1</label>
                                        <label class="input">
                                            <input type="text" class="input-sm" data-ng-model="item.line1"
                                                   data-th-field="*{line1}">
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">แถวที่ 2</label>
                                        <label class="input">
                                            <input type="text" class="input-sm" data-ng-model="item.line2"
                                                   data-th-field="*{line2}">
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">แถวที่ 3</label>
                                        <label class="input">
                                            <input type="text" class="input-sm" data-ng-model="item.line3"
                                                   data-th-field="*{line3}">
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">หัวรองแถวที่ 1</label>
                                        <label class="input">
                                            <input type="text" class="input-sm" data-ng-model="item.sub1"
                                                   data-th-field="*{sub1}">
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">หัวรองแถวที่ 2</label>
                                        <label class="input">
                                            <input type="text" class="input-sm" data-ng-model="item.sub2"
                                                   data-th-field="*{sub2}">
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">รูปภาพประกอบหัวเรื่อง</label>

                                        <p ng-if="deleteButton" style="margin-bottom: 10px;"><img src="{{item.imgURL}}"
                                                                             class="img-responsive"/>
                                        </p>

                                        <div class="input input-file" >
                                            <span class="button"><input type="file" id="file" name="file"
                                                                        onchange="this.parentNode.nextElementSibling.value = this.value">Browse</span><input
                                                type="text" placeholder="{{mode}}รูป..." readonly="">
                                        </div>
                                    </section>

                                    <section>
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="new()"
                                                ng-if="deleteButton"><i
                                                class="fa fa-trash-o"></i>&nbsp;เพิ่ม Slide
                                        </button>
                                        <button type="button" class="btn btn-success btn-sm" ng-click="save()"
                                                ng-if="!deleteButton"><i
                                                class="fa fa-plus"></i>&nbsp;เพิ่ม Slide
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="delete()"
                                                ng-if="deleteButton"><i
                                                class="fa fa-trash-o"></i>&nbsp;ลบ Slide
                                        </button>
                                    </section>
                                </fieldset>
                                <header>แก้ไข Slide</header>
                                <fieldset>
                                    <section>
                                        <label class="label">เลือก Slide ที่ต้องการแก้ไข</label>
                                        <label class="select select-multiple">
                                            <select multiple="" class="custom-scroll" data-ng-change="select()"
                                                    data-ng-model="selectedItem">
                                                <option value='{{$index}}' data-ng-repeat="l in list">{{l.line1
                                                    + ' ' +
                                                    l.line2 +
                                                    ' ' + l.line3}}
                                                </option>


                                            </select> </label>
                                    </section>
                                </fieldset>
                            </div>
                        </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- END COL -->

    </div>
    <!-- end widget grid -->
</section>


<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();

    // PAGE RELATED SCRIPTS

    // pagefunction
    var pagefunction = function () {
        angular.module('otherApp', [])
                .controller('RoyaltyController', ['$scope', '$http', function ($scope, $http) {
                    var currentId = 0;
                    $scope.name = '';
                    $scope.select = function () {
                        $scope.name = $scope.royalty;
                    }

                }])
                .controller('SliderController', ['$scope', '$http', function ($scope, $http) {
                    $scope.deleteButton = false;
                    $scope.item = {};

                    $http.get('/admin/other/slider').success(function (data) {
                        $scope.list = data;
                    });
                    $scope.select = function () {
                        console.log($scope.list[$scope.selectedItem]);
                        $scope.item = $scope.list[$scope.selectedItem];
                        $scope.deleteButton = true;

                    }
                    $scope.save = function () {
                        $('#slideForm').submit();
                    }

                    $scope.delete = function () {

                        window.location = '/admin/other/slider/delete/' + $scope.selectedItem;
                    }
                    $scope.new = function () {
                        $scope.item = {}
                        $scope.deleteButton = false;
                    }

                }]);
        angular.element('#widget-grid').ready(function () {
            angular.bootstrap('#widget-grid', ['otherApp']);
        });

    }

    // end pagefunction

    // Load form valisation dependency
    pagefunction();


</script>
