<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

	<!-- col -->
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">

			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-group"></i> Project Owner <span>> Manage
				Project Owner </span>
		</h1>
	</div>
	<!-- end col -->



</div>
<!-- end row -->

<!--
	The ID "widget-grid" will start to initialize all widgets below 
	You do not need to use widgets if you dont want to. Simply remove 
	the <section></section> and you can use wells or panels instead 
	-->

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-primary"
				href="javascript:loadURL('/admin/owner/new', $('#content'))"> <i
				class="fa fa-plus"></i> New Project Owner
			</a> <br> <br>
		</div>
	</div>
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0"
				data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-user"></i>
					</span>
					<h2>Project Owner List</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">


						<div class="text-center">
							<ul id="pagination-demo" class="pagination-sm">
							</ul>
						</div>

						<div class="table-responsive">

							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Username</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Is Admin</th>
										<th>Operation</th>
									</tr>
								</thead>
								<tbody th:remove="all-but-first">
									<tr th:each="l : ${list}" th:object="${l}">
										<td th:text="*{username}">Row 1</td>
										<td th:text="*{firstName}">Row 2</td>
										<td th:text="*{lastName}">Row 3</td>
										<td th:text="*{admin}? 'Yes' : 'No'">Row 3</td>
										<td><a class="btn btn-info btn-xs"
											href="javascript:void(0);"
											th:href="'#/admin/owner/update/' + *{id}">Update</a>&nbsp;
											<button class="btn btn-danger btn-xs" data-toggle="modal"
												th:attr="data-target='#removeModal'+${lStat.index}">Delete</button>
											<!-- start modal -->
											<div class="modal fade" id="myModal" tabindex="-1"
												role="dialog" aria-labelledby="myModalLabel"
												aria-hidden="true" th:id="'removeModal' + ${lStat.index}">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal"
																aria-hidden="true">&times;</button>
															<h4 class="modal-title">
																<img src="/img/custom/kbr.png" width="150" alt="SmartAdmin">
															</h4>
														</div>
														<div class="modal-body no-padding">

															<form action="#/admin/owner/delete" id="login-form"
																class="smart-form">
																<input type="hidden" name="id" th:value="${l.id}">
																<fieldset>
																	<section>
																		<div class="row">
																			<div class="col col-12">Are you sure you want
																				to remove this project owner?</div>
																		</div>
																	</section>
																</fieldset>

																<footer>
																	<button type="submit" class="btn btn-danger">
																		Delete</button>
																	<button type="button" class="btn btn-default"
																		data-dismiss="modal">Cancel</button>
																</footer>

															</form>

														</div>

													</div>
												</div>
											</div> <!-- end modal --></td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
										<td>Row 4</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>

					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>


		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

	<!-- row -->

	<div class="row">

		<!-- a blank row to get started -->
		<div class="col-sm-12">
			<!-- your contents here -->
		</div>

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/

	var totalPage = /*[[${pageCount}]]*/'Sebastian';

	/*]]>*/
</script>
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR you can load chain scripts by doing
	 * 
	 * loadScript(".../plugin.js", function(){
	 * 	 loadScript("../plugin.js", function(){
	 * 	   ...
	 *   })
	 * });
	 */

	// pagefunction
	var pagefunction = function() {
		// clears the variable if left blank
		loadScript(
				"/js/esimakin-twbs-pagination-0f5fa97/jquery.twbsPagination.min.js",
				function() {
					$('#pagination-demo').twbsPagination({
						totalPages : totalPage,
						visiblePages : 7,
						onPageClick : function(event, page) {
							$('#page-content').text('Page ' + page);
						}
					});
				});
	};

	// end pagefunction

	// run pagefunction
	pagefunction();
</script>
