<style>
    iframe {
        min-height: 600px;
        width: 100%;
        border: 0px;
        margin-top: 10px;
    }
</style>
<iframe src="http://27.254.68.103:8080/jasperserver/flow.html?_flowId=viewReportFlow&standAlone=true&_flowId=viewReportFlow&ParentFolderUri=%2Freports&reportUnit=%2Freports%2Fproject&decorate=no&j_username=jasperadmin&j_password=jasperadmin"></iframe>