<style type="text/css">
    /*google maps*/
    .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }
</style>
<style>
    .btn i {
        font-size: 1.5em;
    }

    .radio-inline {
        font-size: 1.25em;
    }

    .select2-container {
        width: 100% !important;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    legend {
        font-family: supermarketregular;
        font-size: 2em;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .control-label {
        font-size: 1.25em;
    }

    .select2-container .select2-choice {
        height: 45px;
        line-height: 45px;
        /*font-size: 15px;*/
        font-size: 1.25em;
        margin-top: -4px;
    }

    #formMenu {
        /*top: 100px;*/
        z-index: 1;
    }

    .affix {
        top: 100px;
    }

    .iframeUpload {
        width: 100%;
        border-style: none;
        min-height: 220px;
    }

    .well {
        background: url(../img/mybg.png) #fff;
    }
</style>

<!-- Bread crumb is created dynamically -->

<!-- end row -->
<div class="row" style="margin-bottom: 10px;" data-th-remove="all">

    <div class="superbox-show" style="height:300px; display: none"></div>
    <div class="col-sm-4" data-th-object="${target}">
        <div class="row form-group" style="color: crimson;">
            <div data-th-each="f : *{files}" class="col-xs-3 col-lg-6">
                <div class="" style="">

                    <a href="#"
                       data-th-href="'/admin/royalproject/download/' + ${f.key} + '/' + ${f.fileName}"><i
                            class="fa fa-file-word-o" data-th-class="${f.logo}"></i>
                        <span data-th-text="${f.fileName}">word file</span></a></div>

            </div>
        </div>
    </div>

</div>
<hr>
<form id="uploadForm" enctype="multipart/form-data" method="post" data-th-action="${uploadUrl}"
      data-th-object="${target}">
    <input type="hidden" data-th-field="*{uuid}">


    <!--topmenu-->
    <div style="margin-bottom: 20px; height: 36px;">
        <div class="row">
            <div class="col col-xs-6 ">
                <div id="formMenu">
                    <button type="submit" class="btn btn-default btn-success" rel="tooltip" data-placement="top"
                            data-original-title="บันทึก" data-th-if="*{canEdit} or *{uuid} == null">
                        <i class="fa fa-save"></i></button>
                    <button type="button" onclick="window.close();" class="btn btn-default btn-warning" rel="tooltip"
                            data-placement="top"
                            data-original-title="ยกเลิก"><i class="fa fa-times"></i></button>
                    <button type="button" class="btn btn-default btn-danger" rel="tooltip" data-placement="top"
                            data-original-title="ลบทิ้ง" data-target="#deleteModal" data-toggle="modal"
                            data-th-if="*{uuid} != null" data-th-if="*{canEdit} and *{uuid} != null">
                        <i class="fa fa-trash-o"></i></button>
                </div>
            </div>

        </div>
    </div>
    <!--end topmenu-->

    <div id="projectDetail" class="row" style="margin-bottom: 10px;">
        <div class="col-md-6">
            <div class="form-horizontal well">

                <fieldset>
                    <legend>รายละเอียดโครงการ</legend>

                    <div class="form-group">
                        <label class="col-xs-12 control-label" style="text-align: left; margin-bottom: 10px;">ชื่อโครงการ<span
                                style="color: red;">*</span></label>

                        <div class="col-xs-12">
                        <textarea class="form-control input-lg" placeholder="กรอกชื่อโครงการ" rows="5"
                                  data-th-disabled="!*{canEdit}" data-th-field="*{name}"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label input-lg">ประเภทโครงการ<span
                                style="color: red;">*</span></label>

                        <div class="col-lg-8">
                            <select data-th-disabled="!*{canEdit}" data-th-field="*{typeID}" class="form-control input-lg">
                                <option value="">=เลือก=</option>
                                <option data-th-each="t : ${type}"
                                        data-th-value="${t.uuid}"
                                        data-th-text="${t.name}">Wireframe
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">ในพระองค์<span
                                style="color: red;">*</span></label>

                        <div class="col-lg-8">
                            <select class="form-control input-lg" data-th-disabled="!*{canEdit}" data-th-field="*{royaltyID}">
                                <option value="">=เลือก=</option>
                                <option data-th-each="r : ${royalty}" data-th-text="${r.name}"
                                        data-th-value="${r.uuid}">พระบาทสมเด็จพระเจ้าอยู่หัว
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" style="">แหล่งที่มา</label>

                        <div class="col-xs-8">
                            <select class="form-control input-lg" data-th-disabled="!*{canEdit}" data-th-field="*{source}" id="">
                                <option value="1">พระราชดำริ</option>
                                <option value="2">ราษฎรขอพระราชทานพระมหากรุณา (ฎีกา)</option>
                                <option value="3">หน่วยงานขอพระราชทาน</option>
                            </select>

                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- end general info -->
        </div>
        <div class="col-md-6">
            <div class="form-horizontal well" style="">
                <fieldset>
                    <legend>การดำเนินงานโครงการ</legend>

                    <div class="form-group">
                        <label class="col-lg-6 control-label">ปีที่เริ่มโครงการ</label>

                        <div class="col-lg-6">
                            <select class="select2" id="year" data-th-disabled="!*{canEdit}" data-th-field="*{year}">
                                <option data-th-each="i : ${#numbers.sequence(#dates.year(#dates.createNow()) + 543, 2490)}"
                                        data-th-value="${i}" data-th-text="${i}"
                                        data-th-selected="${ i==9 } ">Options
                                </option>
                                <option value="0">0</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 control-label">วันที่เริ่มโครงการ</label>

                        <div class="col-lg-6">
                            <div class="input-group">
                                <input class="datepicker-custom form-control input-lg" type="text"
                                       data-provide="datepicker" data-date-language="th-th"
                                       data-date-format="dd-mm-yyyy"
                                       data-th-disabled="!*{canEdit}" data-th-field="*{startDate}">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6 control-label">ระยะเวลาโครงการ</div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input class="form-control input-lg" id="append" type="text"
                                               data-th-disabled="!*{canEdit}" data-th-field="*{totalYear}">
                                        <span class="input-group-addon">ปี</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input class="form-control input-lg" id="append" type="text"
                                               data-th-disabled="!*{canEdit}" data-th-field="*{totalMonth}">
                                        <span class="input-group-addon">เดือน</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 control-label">วันที่โครงการแล้วเสร็จ</label>

                        <div class="col-lg-6">
                            <div class="input-group">
                                <input class="datepicker-custom form-control input-lg" type="text"
                                       data-provide="datepicker" data-date-language="th-th"
                                       data-date-format="dd-mm-yyyy"
                                       data-th-disabled="!*{canEdit}" data-th-field="*{finishDate}">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 control-label">ความต่อเนื่องของโครงการ</label>

                        <div class="col-lg-6 ">
                            <label class="radio radio-inline">
                                <input type="radio" data-th-disabled="!*{canEdit}" data-th-field="*{continuous}" data-th-value="true">
                                ต่อเนื่อง </label>
                            <label class="radio radio-inline">
                                <input type="radio" data-th-disabled="!*{canEdit}" data-th-field="*{continuous}" data-th-value="false">
                                ไม่ต่อเนื่อง </label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 control-label" style="text-align: left; margin-bottom: 10px;">ชื่อโครงการหลัก</label>

                        <div class="col-xs-12"><input type="hidden" id="mainProject" data-th-disabled="!*{canEdit}" data-th-field="*{mainProject}">
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>

    </div>
    <!-- end first row -->

    <!--end idea link-->
    <div style="margin-bottom: 20px;">
        <div class="row ">

            <!--end reference idea -->
            <div class="hidden-xs col-md-6">
                <input id="pac-input" class="controls" type="text"
                       placeholder="ค้นหาสถานที่ จังหวัด ตำบล อำเภอ">


                <div id="map_canvas7" class="google_maps" style="height: 540px;"></div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal well">
                    <fieldset>
                        <legend>สถานที่ตั้งโครงการ</legend>
                        <div class="form-group">
                            <label class="col-lg-12 control-label" style="margin-bottom: 10px; text-align: left;">รายละเอียดที่อยู่</label>

                            <div class="col-lg-12">
                                <textarea class="form-control input-lg" placeholder="กรอกรายละเอียดที่อยู่" rows="3"
                                          data-th-disabled="!*{canEdit}" data-th-field="*{address}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 control-label" >ประเทศ<span
                                    style="color: red;">*</span></label>

                            <div class="col-lg-7">
                                <select class="select2" id="selectCountry" name="country" data-th-disabled="!*{canEdit}">
                                    <option data-th-each="p : ${countries}" data-th-text="${p.name}"
                                            data-th-value="${p.name}"
                                            data-th-selected="*{provinceID} != null ? *{provinceID.regionID.name} == ${p.name} : ${p.name} == 'ไทย'">
                                        ไทย
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div id="selectLocation"
                             data-th-style="*{provinceID} != null and *{provinceID.isCountry} ? 'display:none;' : ''">

                            <div class="form-group">
                                <label class="col-lg-5 control-label">ภาค</label>

                                <div class="col-lg-7">
                                    <select class="select2" data-th-disabled="!*{canEdit}" id="selectRegion">
                                        <option value="">=เลือก=</option>
                                        <option data-th-each="p : ${region}" data-th-text="${p.name}"
                                                data-th-value="${p.uuid}"
                                                >กรุงเทพมหานคร
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5 control-label">จังหวัด<span
                                        style="color: red;">*</span></label>

                                <div class="col-lg-7">
                                    <select class="select2" data-th-disabled="!*{canEdit}" data-th-field="*{provinceID}" id="selectProvince">
                                        <option value="">=เลือก=</option>
                                        <option data-th-each="p : ${provinces}" data-th-text="${p.name}"
                                                data-th-value="${p.uuid}"
                                                >กรุงเทพมหานคร
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5 control-label">อำเภอ</label>

                                <div class="col-lg-7">
                                    <select class="select2" disabled id="selectAmphur"
                                            data-th-disabled="${amphurs} == null" data-th-disabled="!*{canEdit}" data-th-field="*{amphurID}">
                                        <option value="">=เลือก=</option>
                                        <option data-th-each="a : ${amphurs}" data-th-text="${a.name}"
                                                data-th-value="${a.uuid}">เลือกจังหวัดก่อน
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5 control-label">ตำบล</label>

                                <div class="col-lg-7">
                                    <select class="select2" disabled id="selectTumbon"
                                            data-th-disabled="${tumbon} == null" data-th-disabled="!*{canEdit}" data-th-field="*{districtID}">
                                        <option value="">=เลือก=</option>
                                        <option data-th-each="a : ${tumbon}" data-th-text="${a.name}"
                                                data-th-value="${a.uuid}">เลือกอำเภอก่อน
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5 control-label">หมู่บ้าน</label>

                                <div class="col-lg-7">
                                    <input class="form-control input-lg" placeholder="กรอกชื่อหมู่บ้าน" type="text"
                                           data-th-disabled="!*{canEdit}" data-th-field="*{villageName}">
                                </div>
                            </div>

                        </div>
                        <!--end select location-->
                        <div class="form-group">
                            <label class="col-lg-5 control-label">ตำแหน่งที่ตั้งโครงการ</label>

                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-xs-6"><input data-th-disabled="!*{canEdit}" id="lat" class="form-control input-lg"
                                                                 placeholder="กรอก Latitude" type="text" name="lat"
                                                                 data-th-value="*{location.latitude}"></div>
                                    <div class="col-xs-6"><input data-th-disabled="!*{canEdit}" id="lng" class="form-control input-lg"
                                                                 placeholder="กรอก Longitude" type="text" name="lng"
                                                                 data-th-value="*{location.longitude}"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
            <!-- end place -->
        </div>
    </div>
    <!-- end place and idea-->
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-6">
            <div class="form-horizontal well" style="">
                <fieldset>
                    <legend>เรื่องเดิม</legend>
                <textarea class="form-control input-lg" rows="11"
                          placeholder="กรอกรายละเอียดเรื่องเดิมโดยย่อ"
                          data-th-disabled="!*{canEdit}" data-th-field="*{detail}"></textarea>
                </fieldset>
            </div>

        </div>
        <div class="col-md-6">

            <div class="form-horizontal well" style="min-height: 150px;">
                <fieldset>
                    <legend>หน่วยงานที่รับผิดชอบ</legend>
                    <input type="hidden" id="department" data-th-disabled="!*{canEdit}" data-th-field="*{departments}">
                </fieldset>
            </div>
            <div class="form-horizontal well">
                <fieldset>
                    <legend>เลขที่โครงการและความครบถ้วน</legend>
                    <div class="form-group">

                        <label class="col-lg-5 control-label">เลขที่โครงการ</label>

                        <div class="col-lg-7">
                            <input class="form-control" style="" placeholder="กรอกเลขที่โครงการ (จากสำนักงบประมาณ)"
                                   type="text" data-th-disabled="!*{canEdit}" data-th-field="*{code}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-5 control-label">สถานะข้อมูล</label>

                        <div class="col-lg-7">
                            <select class="select2" data-th-disabled="!*{canEdit}" data-th-field="*{stateID}">
                                <option data-th-each="s : ${states}" data-th-text="${s.name}"
                                        data-th-value="${s.name}">ไม่ครบถ้วน
                                </option>
                            </select>
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>


    </div>
    <!--end old story, department, benefit-->

    <div class="">
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal well">
                    <fieldset>
                        <legend>พื้นที่ได้รับประโยชน์</legend>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">จำนวนไร่ฤดูฝน</label>

                            <div class="col-lg-8">
                                <input class="form-control input-lg" placeholder="กรอกจำนวนไร่ฤดูฝน" type="text"
                                       data-th-disabled="!*{canEdit}" data-th-field="*{areaRainy}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">จำนวนไร่ฤดูแล้ง</label>

                            <div class="col-lg-8">
                                <input class="form-control input-lg" placeholder="กรอกจำนวนไร่ฤดูแล้ง" type="text"
                                       data-th-disabled="!*{canEdit}" data-th-field="*{areaSummer}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">จำนวนหมู่บ้าน</label>

                            <div class="col-lg-8">
                                <input class="form-control input-lg" placeholder="กรอกจำนวนหมู่บ้าน" type="text"
                                       data-th-disabled="!*{canEdit}" data-th-field="*{village}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">จำนวนครัวเรือน</label>

                            <div class="col-lg-8">
                                <input class="form-control input-lg" placeholder="กรอกจำนวนครัวเรือน" type="text"
                                       data-th-disabled="!*{canEdit}" data-th-field="*{household}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">จำนวนคน</label>

                            <div class="col-lg-8">
                                <input class="form-control input-lg" placeholder="กรอกจำนวนคน" type="text"
                                       data-th-disabled="!*{canEdit}" data-th-field="*{citizen}">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!--end the no and completeness-->
            <div class="col-md-6">
                <div class="form-horizontal well" style="min-height: 360px;">
                    <fieldset>
                        <legend>ผลการดำเนินงานในภาพรวม
                            <a data-th-if="*{uuid} != null"
                               class="btn btn-success pull-right" href="#"
                               data-th-href="'/mobile/project/'+*{uuid}+'/display'"
                               target="_blank">Display เดิม</a>
                        </legend>
                    <textarea class="form-control input-lg" rows="11"
                              placeholder="กรอกสรุปผลการดำเนินงานในภาพรวม" data-th-disabled="!*{canEdit}" data-th-field="*{result}"></textarea>
                    </fieldset>
                </div>
            </div>
            <!--end result-->

        </div>
    </div>
    <hr>
    <div class="row" id="ideaLink" data-th-if="*{uuid} != null">
        <div class="col-xs-12" ng-controller="IdeaLinkController">
            <div class="well form-horizontal">
                <fieldset>
                    <legend>พระราชดำริอ้างอิง</legend>
                    <div class="form-group" data-th-if="*{canEdit}">
                        <label class="col-xs-12 control-label" style="text-align: left; margin-bottom: 10px;">ค้นหาพระราชดำริ</label>

                        <div class="col-xs-12">
                            <ui-select ng-model="item.idea" theme="select2" ng-disabled="disabled"
                                       style="min-width: 300px;" title="Single property binding with async data"
                                       on-select="addLink();" reset-search-input="true">
                                <ui-select-match placeholder="เลือกพระราชดำริ">
                                    {{$select.selected.detail || $select.selected}}
                                </ui-select-match>
                                <ui-select-choices
                                        refresh="refreshIdea($select.search)"
                                        refresh-delay="0"
                                        repeat="idea in addresses">
                                    <div class="row">
                                        <div class="col-xs-6">{{idea.detail}}</div>
                                        <div class="col-xs-4">{{idea.royaltyID.name}}</div>
                                        <div class="col-xs-2">{{idea.thaiDate}}</div>

                                    </div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped"
                           data-ng-show="list.length != 0">
                        <thead>
                        <tr>
                            <th>รายละเอียด</th>
                            <th class="col-xs-4">ในพระองค์</th>
                            <th class="col-xs-1">แหล่งที่มา</th>
                            <th>วันที่</th>
                            <th class="col-xs-1">ลบ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="l in list">
                            <td><a href="#/admin/idea/{{l.uuid}}" target="_blank">{{l.detail}}</a></td>
                            <td>{{l.royaltyID.name}}</td>
                            <td>{{l.source == 1 ? 'พระราชดำริ' : ((l.source == 2) ? 'ฎีกา' : 'หน่วยงานขอพระราชทาน')}}
                            <td>{{l.thaiDate}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#deleteIdeaLink"
                                        ng-click="removeIdeaLink(l.uuid);" data-th-if="*{canEdit}"><i
                                        class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <!--modal-->
            <div class="modal fade" id="deleteIdeaLink" tabindex="-1"
                 role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            <h4 class="modal-title">
                                ลบความเชื่อมโยงโครงการ
                            </h4>
                        </div>
                        <div class="modal-body ">

                            กรุณายืนยันหากต้องการลบข้อมูลนี้


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                ยกเลิก
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="removeIdeaLinkConfirm();"
                                    data-dismiss="modal">
                                <i class="fa fa-trash-o"></i>
                                ยืนยัน
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!--end modal-->
        </div>
    </div>
    <!-- end document and completeness -->
    <div class="row" data-th-if="*{uuid} != null">
        <div class="col-md-6">
            <!--<div class="form-horizontal well" style="min-height: 315px;">-->
            <!--<fieldset>-->
            <!--<legend>รูปภาพโครงการ</legend>-->
            <iframe class="iframeUpload" data-th-src="'/admin/royalproject/' + *{uuid} + '/uploadPhoto'"
                    seamless="seamless" style="height: 600px;"></iframe>
            <!--</fieldset>-->
            <!--</div>-->
        </div>

        <!-- photo -->
        <div class="col-md-6">
            <!--<div class="form-horizontal well" style="min-height: 315px;">-->
            <!--<fieldset>-->
            <!--<legend>รูปภาพโครงการ</legend>-->
            <iframe class="iframeUpload" data-th-src="'/admin/royalproject/' + *{uuid} + '/uploadFile'"
                    seamless="seamless" style="height: 600px;"></iframe>
            <!--</fieldset>-->
            <!--</div>-->
        </div>

        <!--end file list-->

    </div>


</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form data-th-action="'/admin/royalproject/' + ${target.uuid} + '/deleteFile'" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">ลบเอกสารประกอบโครงการ</h4>
                </div>
                <div class="modal-body no-padding">

                    <div class="smart-form">
                        <fieldset style="padding: 20px;">
                            <section>
                                <label class="label">เลือกเอกสารที่ต้องการลบ</label>
                                <label class="checkbox" data-th-each="f : ${target.files}">
                                    <input type="checkbox" name="checkbox" name="deleteIndex"
                                           data-th-value="${fStat.index}">
                                    <i></i><span data-th-text="${f.fileName}">Alexandra</span></label>
                            </section>
                            <p>เมื่อคุณลบเอกสารแล้ว ไม่สามารถเรียกคืนกลับมาได้อีก</p>

                        </fieldset>

                        <footer>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                                ลบเอกสาร
                            </button>
                        </footer>
                    </div>


                </div>

            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--delete modal-->
<div class="modal fade" id="deleteModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    ลบโครงการอันเนื่องมาจากพระราชดำริ
                </h4>
            </div>
            <div class="modal-body no-padding">

                <form action="/admin/royalproject/delete"
                      id="login-form" class="smart-form">
                    <input type="hidden" name="close" value="true">
                    <input type="hidden" name="id" data-th-value="${target.uuid}">
                    <fieldset>
                        <section>
                            <div class="row">
                                <div class="col col-12">
                                    กรุณายืนยันหากต้องการลบข้อมูลนี้
                                </div>
                            </div>
                        </section>
                    </fieldset>

                    <footer>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            ยกเลิก
                        </button>
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                            ยืนยัน
                        </button>
                    </footer>

                </form>

            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="/js/projectNew.js"></script>
