<style type="text/css">

    .drop-box {
        /*background: #F8F8F8;*/
        /*border: 5px dashed #DDD;*/
        /*width: 200px;*/
        /*min-height: 200px;*/
        /*text-align: center;*/
        /*padding-top: 25px;*/
        /*margin: 10px;*/
    }

    .drop-box.dragover {
        border: 5px dashed blue;
    }

    .drop-box.dragover-err {
        border: 5px dashed red;
    }

    .select2-container {
        width: 100% !important;
    }

    .project {
        padding: 10px;
        cursor: pointer;
    }

    .project:hover {
        background-color: #f4f4f4;
    }

    .chooseProject .glyphicons {
        top: -15px;
    }

    .chooseProject .active {
        font-weight: bold;
    }

    .btn-group .dropdown-menu {
        background: white;
    }

    .btn-group .dropdown-menu li {
        padding: 0px;
    }

    .afile {
        margin-bottom: 10px;
    }

    .afile button {
        display: none;
    }

    .afile:hover button {
        display: block;
    }
</style>
<div class="row ng-cloak" data-ng-controller="TrackingController" id="theApp">
    <!--timeline and post-->
    <div class="col-md-4">
        <ui-select class="visible-xs" ng-model="item.project" theme="select2" ng-disabled="disabled"
                   style="min-width: 300px;" title=""
                   reset-search-input="true" on-select="loadTimeline();">
            <ui-select-match placeholder="เลือกโครงการ">
                {{$select.selected.name || $select.selected}}
            </ui-select-match>
            <ui-select-choices
                    refresh="refreshIdea($select.search)"
                    refresh-delay="0"
                    repeat="project in projects">
                <div class="row">
                    <div class="col-xs-6">{{project.name}}</div>
                    <div class="col-xs-4">{{project.royaltyID.name}}</div>
                    <div class="col-xs-2">{{project.year}}</div>

                </div>

            </ui-select-choices>
        </ui-select>

        <div class="hidden-xs">
            <div class="input-icon-right">
                <i class="fa fa-times ng-hide" ng-click="queryText = ''; reddit.nextPage();"
                   style="cursor: pointer;" ng-show="queryText.length != 0"></i>
                <input class="form-control" placeholder="ค้นหา" type="text" ng-model="queryText"
                       autocomplete="on" data-ng-keyup="reddit.nextPage();">
            </div>
            <!--<input autocomplete="on" class="form-control margin-bottom-10" data-ng-model="queryText"-->
            <!--data-ng-keyup="reddit.nextPage();" placeholder="ค้นหา" type="text">-->
            <ul class="list-group no-margin" infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy'
                infinite-scroll-distance='1'>
                <li class="list-group-item {{i.uuid == item.project.uuid ? 'active' : ''}}"
                    ng-repeat='i in reddit.items'
                    data-ng-click="loadTimelineItem(i);" style="cursor:pointer;">
                    <div class="row">
                        <div class="col-xs-8">{{i.name}}</div>
                        <div class="col-xs-4"><span
                                class="label label-warning pull-right"
                                style="font-size: 0.8em;">{{i.provinceID.name}}</span></div>
                    </div>
                </li>
            </ul>
            <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'
                 data-th-remove="all">
                <div ng-repeat='item in reddit.items' data-ng-click="loadTimelineItem(item);">
      <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.name}}</a>
      </span>

                    <div style='clear: both;'></div>
                </div>
                <div ng-show='reddit.busy'>Loading data...</div>
            </div>
        </div>
    </div>
    <div class="col-md-8 " id="" data-ng-show="item.project != null">
        <div class="jumbotron" style="padding: 10px; margin-bottom: 15px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-lg-9">
                        <a href="#/admin/royalproject/{{item.project.uuid}}" target="_blank"><h1
                                style="font-family: supermarketregular; font-size: 2em;">{{item.project.name}}</h1></a>

                        <p style="font-size: 1em;">{{item.project.detail}}</p>
                    </div>
                    <div class="col-xs-4 col-lg-3">
                        <img src="{{item.project.images[0].serveURL}}" alt="" width="100%"
                             data-ng-show="{{item.project.images.length != 0}}">
                    </div>
                </div>
            </div>
        </div>
        <!--post-->
        <div class="well padding-bottom-10 ">
            <div class="row margin-bottom-10">
                <div class="col-xs-12">

                </div>
            </div>
            <input type="text" class="margin-bottom-5 form-control" placeholder="หัวข้อ" ng-model="item.name"/>
            <textarea rows="2" class="form-control" placeholder="รายละเอียด" ng-change="query();"
                      ng-model="item.status"></textarea>

            <div class="margin-top-10 row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success pull-right" ng-click="postStatus();"
                            style="" rel="tooltip" data-original-title="บันทึก" data-placement="bottom"
                            data-ng-disabled="!canEdit">
                        <i class="fa fa-save"></i>
                    </button>
                    <div class="pull-right" style="max-width: 300px; padding-right: 5px;">
                        <div class="input-group">
                            <input class="datepicker-custom form-control" type="text"
                                   data-provide="datepicker" data-date-language="th-th"
                                   data-date-format="dd-mm-yyyy"
                                   ng-model="item.listDate">

                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <span class="pull-right" style="padding: 7px;">วันที่ติดตามโครงการ</span>

                </div>

            </div>
        </div>
        <div class="well" data-ng-show="hasPreview">
            <img src="{{image}}" class="img-responsive">

            <h3>{{name}}</h3>

            <p>{{description | limitTo:400}}</p>
        </div>
        <!--endpost-->
        <!--timeline-->
        <div class="row" ng-if="list.length !=0">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="well well-sm">
                    <progressbar ng-show="isLoading" animate="false" value="progressPercentage" type="success"
                            ><b>{{progressPercentage}}%</b></progressbar>
                    <!-- Timeline Content -->
                    <div class="smart-timeline">
                        <ul class="smart-timeline-list">
                            <li ng-repeat="l in list">
                                <div class="btn-group pull-right" data-ng-if="canEdit">
                                    <a href="javascript:void(0);" data-toggle="dropdown"
                                       class="btn btn-default btn-xs dropdown-toggle"><span
                                            class="caret single"></span></a>
                                    <ul class="dropdown-menu text-left">
                                        <li role="presentation"><a style="cursor: pointer;"
                                                                   ng-click="editPost(l.uuid);" data-toggle="modal"
                                                                   data-target="#editModal"><i
                                                class="fa fa-edit"></i>&nbsp;
                                            แก้ไขความคืบหน้า</a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation">
                                            <a href="javascript:void(0);" ngf-select=""
                                               ngf-change="upload($files, l.uuid)"
                                               class="upload-button" ngf-multiple="true"
                                               ng-model-rejected="rejFiles"
                                               tabindex="0"><i class="fa fa-file-text"></i> เพิ่มรูปภาพ/เอกสาร</a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation">
                                            <a style="cursor: pointer;" ng-click="removePost(l.uuid);"
                                               data-toggle="modal" data-target="#deleteModal"><i
                                                    class="fa fa-trash"></i> ลบรายการนี้</a>
                                        </li>


                                    </ul>
                                </div>
                                <div class="smart-timeline-icon">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                <div class="smart-timeline-time">
                                    <small>{{l.listDate | date:'dd-MM'}}-{{l.listDateYear}}</small>
                                    <small>{{l.author}}</small>
                                </div>
                                <div class="smart-timeline-content drop-box"
                                     ngf-drop="" ngf-change="upload($files, l.uuid)"
                                     ng-model-rejected="rejFiles"
                                     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                                     ngf-multiple="true" ngf-allow-dir="true"
                                     ngf-drop-available="dropAvailable">

                                    <p>
                                        <a href="javascript:void(0);"><strong>{{l.name}}</strong></a>
                                    </p>

                                    <p linkify>
                                        {{l.status}}
                                    </p>

                                    <div class="row">

                                        <div class="col-md-8">
                                            <ul ng-if="l.files.length != 0">
                                                <li ng-repeat="f in l.files" style="padding:2px;">
                                                    <div class="afile" style="color: {{f.color}};"><i
                                                            class="{{f.logo}}"
                                                            ></i> <a
                                                            href="/admin/royalproject/download/{{f.key}}/{{f.fileName}}"
                                                            target="_blank"
                                                            style="color: {{f.color}};">{{f.fileName}}</a>
                                                        <button class="btn btn-danger pull-right btn-xs"><i
                                                                class="fa fa-trash-o"
                                                                data-toggle="modal" data-target="#deleteFileModal"
                                                                data-ng-click="removeFileCheck(l.uuid, $index);"
                                                                data-ng-if="canEdit"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--remove file modal-->
                                    <div class="modal fade" id="deleteFileModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <input type="hidden" name="deleteIndex">

                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">ลบเอกสาร</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <p>คุณต้องการจะลบเอกสารนี้หรือไม่</p>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-danger" name="target"
                                                            data-dismiss="modal" data-ng-click="removeFile();">

                                                        <i class="fa fa-trash-o"></i>
                                                        ยืนยัน
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!--end remove file modal-->
                                    <ul class="list-inline" ng-if="l.images.length != 0">
                                        <li ng-repeat="i in l.images" style="margin-right: 5px;">

                                            <div class="afile" rel="tooltip" data-placement="bottom"
                                                 data-original-title="{{i.caption != null && i.caption != '' ? i.caption : 'ไม่มีคำบรรยายภาพ'}}"
                                                 data-ng-if="canEdit">
                                                <a href="{{i.serveURL}}"
                                                   data-toggle="lightbox"><img
                                                        src="{{i.serveURL + '=s100-c'}}" alt="img"
                                                        width="100"></a>

                                                <div class="" style="position: absolute; top:15px; width: 100%;">
                                                    <button type="button" class="btn btn-danger btn-xs pull-left"
                                                            data-toggle="modal" data-target="#deletePhotoModal"
                                                            data-ng-click="removeImageCheck(l.uuid, $index);"
                                                            >
                                                        <i
                                                                class="fa fa-trash-o "></i></button>
                                                    <button type="button"
                                                            class="btn btn-success btn-xs bg-color-orangeDark pull-right"
                                                            data-toggle="modal"
                                                            data-target="#caption" style="top: 0px;"
                                                            data-ng-click="captionCheck(l.uuid, $index);"><i
                                                            class="fa fa-edit "></i></button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!--start delete photo modal-->
                                    <div class="modal fade" id="deletePhotoModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <input type="hidden" name="deleteIndex" value="0"/>

                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">ลบรูปภาพ</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <p>คุณต้องการจะลบรูปนี้หรือไม่</p>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        ยกเลิก
                                                    </button>
                                                    <button type="button" class="btn btn-danger" name="target"
                                                            data-ng-click="removeImage();" data-dismiss="modal">
                                                        <i class="fa fa-trash-o"></i>
                                                        ยืนยัน
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!-- end delete photo modal-->

                                    <!--photo caption-->
                                    <div class="modal fade" id="caption" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">

                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">คำบรรยายประกอบภาพ</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                       placeholder="กรอกคำบรรยายประกอบภาพ"
                                                                       required=""
                                                                       name="caption" ng-model="captionText">
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        ยกเลิก
                                                    </button>
                                                    <button type="button" class="btn btn-success" name="target"
                                                            data-dismiss="modal"
                                                            data-ng-click="captionSave(captionText);">
                                                        <i class="fa fa-save"></i>
                                                        บันทึก
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!--end photo caption-->

                                    <p ng-if="l.link != null">
                                        <a href="{{l.link}}" class="btn btn-xs btn-primary"><i
                                                class="fa fa-file"></i> Read the post</a>
                                    </p>

                                    <img src="{{l.imageURL}}" alt="img" width="200"
                                         ng-if="l.imageURL != null && l.youtube == null || l.youtube == ''">

                                    <div ng-if="l.youtube != null && l.youtube != ''">
                                        <youtube-video video-id="l.youtube" player-width="'100%'"
                                                       player-height="'300px'"></youtube-video>
                                    </div>
                                    <h3 ng-if="l.title != null || l.title != ''">{{l.title}}</h3>

                                    <p ng-if="l.description != null || l.description != ''">{{l.description |
                                        limitTo:400}}</p>


                                </div>
                            </li>


                            <li class="text-center" data-th-remove="all">
                                <a href="javascript:void(0)" class="btn btn-sm btn-default"><i
                                        class="fa fa-arrow-down text-muted"></i> LOAD MORE</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END Timeline Content -->

                </div>

            </div>

        </div>
        <!--end timeline-->
    </div>
    <!--end timeline and post-->
    <!--select project-->
    <div class="col-md-6 chooseProject" data-th-remove="all">
        <h1><i class="glyphicons kiosk_light"></i> โครงการ</h1>
        <hr>
        <div class="project active">
            <div class="row ">
                <div class="col-xs-2"><img class="img-responsive" src="/img/superbox/superbox-full-1.jpg">
                </div>
                <div class="col-xs-6">
                    Competitions sunt calceuss de magnum tumultumque.
                </div>
                <div class="col-xs-4">กรุงเทพมหานคร</div>

            </div>
        </div>
        <div class="project" data-th-each="i : ${#numbers.sequence(1,10)}">
            <div class="row ">
                <div class="col-xs-2"><img class="img-responsive" src="/img/superbox/superbox-full-1.jpg">
                </div>
                <div class="col-xs-6">
                    Competitions sunt calceuss de magnum tumultumque.
                </div>
                <div class="col-xs-4">กรุงเทพมหานคร</div>

            </div>
        </div>
    </div>
    <!--end select project-->
    <div id="deleteModal" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        ลบความคืบหน้าโครงการ
                    </h4>
                </div>
                <div class="modal-body no-padding">

                    <div id="login-form" class="smart-form">
                        <input type="hidden" name="id" value="{{p.uuid}}">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <div class="col col-12">
                                        กรุณายืนยันหากต้องการลบข้อมูลนี้
                                    </div>
                                </div>
                            </section>
                        </fieldset>

                        <footer>
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">
                                ยกเลิก
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    ng-click="removePostConfirm();">
                                <i class="fa fa-trash-o"></i>
                                ยืนยัน
                            </button>
                        </footer>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="editModal" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel2"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        แก้ไขความคืบหน้าโครงการ
                    </h4>
                </div>
                <div class="modal-body no-padding">
                    <div id="login-form" class="smart-form">
                        <fieldset>
                            <section>
                                <label for="address2" class="input">
                                    <input type="text" name="address2" id="address2" placeholder="หัวข้อ"
                                           ng-model="editItem.name">
                                </label>
                            </section>
                            <section>
                                <label class="textarea">
                                    <textarea rows="3" name="info" placeholder="รายละเอียด"
                                              data-ng-model="editItem.status"></textarea>
                                </label>
                            </section>
                            <section class="">
                                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="startdate" id="startdate" placeholder=""
                                           class="" ng-model="editItem.listDate">
                                </label>
                            </section>
                            <button data-ng-click="updateStatus();" class="btn btn-success pull-right"
                                    data-dismiss="modal" rel="tooltip" data-original-title="แก้ไข"
                                    data-placement="bottom" style="padding:10px;">
                                <i
                                        class="fa fa-save"></i>
                            </button>
                        </fieldset>
                        <fieldset data-th-remove="all">
                            <section>
                                <label class="label">ลบไฟล์</label>

                                <div class="row">
                                    <div class="col col-4 margin-bottom-5" data-ng-repeat="f in editItem.files">

                                        <label
                                                class="checkbox">
                                            <input type="checkbox" ng-model="deleteFileItem[$index]"
                                                   value="{{$index}}">
                                            <i></i>{{f.fileName}}</label>
                                    </div>
                                </div>
                                <button class="btn-danger" style="padding: 5px;" data-ng-click="removeFile();"
                                        data-dismiss="modal"><i
                                        class="fa fa-trash-o"></i>
                                    ลบไฟล์ที่เลือก
                                </button>
                            </section>
                        </fieldset>
                        <fieldset data-th-remove="all">
                            <section>
                                <label class="label">ลบรูป</label>

                                <div class="row ">
                                    <div class="col col-4 margin-bottom-5" data-ng-repeat="f in editItem.images">
                                        <label
                                                class="checkbox">
                                            <input type="checkbox" name="checkbox"
                                                   data-ng-model="deleteImageItem[$index]"
                                                   value="{{$index}}">
                                            <i></i><img src="{{f.serveURL}}=s100-c"></label></div>
                                </div>
                                <button class="btn-danger" style="padding: 5px;" data-ng-click="removeImage();"
                                        data-dismiss="modal"><i
                                        class="fa fa-trash-o"></i>
                                    ลบรูปที่เลือก
                                </button>
                            </section>
                        </fieldset>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    pageSetUp();
    $LAB
            .script("/js/lightbox/dist/ekko-lightbox.min.js")
            .script('/js/bower_components/angular-ui-select/dist/select.min.js')
            .script("/js/bootstrap-datepicker-thai/js/bootstrap-datepicker.custom.js")
            .script("/js/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js")
            .script("/js/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js")
            .script('/js/bower_components/angular-linkify/angular-linkify.min.js').script("/js/custom/jsTracking.js")
            .script("/js/bower_components/ng-file-upload/ng-file-upload.js")
            .script("/js/bower_components/ng-file-upload/ng-file-upload-shim.js")
            .script("/js/bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js")
            .script('/js/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
            .script("https://www.youtube.com/iframe_api").wait(function () {
                $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
                    event.preventDefault();
                    $(this).ekkoLightbox({
                        type: 'image'
                    });
                });
                angular.element('idApp').ready(function () {
                    angular.bootstrap('#theApp', ['trackingApp']);
                    $('rel[tooltip]').tooltip();
                });
            });

</script>
