/* line 3, ../sass/rdpb.scss */
p {
  text-align: justify;
  text-justify: inter-word;
}

/* line 8, ../sass/rdpb.scss */
h1, h2, h3, h4, h5, .headlinefont {
  font-family: "supermarketregular";
}

/* line 12, ../sass/rdpb.scss */
.header .navbar-default .navbar-nav > li > a {
  font-family: "supermarketregular";
  font-size: 1.4em;
}

/* line 17, ../sass/rdpb.scss */
.purchase span {
  font-family: "supermarketregular";
  font-size: 1.9em;
}

/* line 24, ../sass/rdpb.scss */
div.homepage-speaks .thumbnail-img .overflow-hidden {
  position: relative;
}

/* line 30, ../sass/rdpb.scss */
.feather {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: URL("../images/effects/feather.png");
  background-size: 100% 100%;
  z-index: 100;
}
/* line 39, ../sass/rdpb.scss */
.feather img {
  width: 100%;
  height: 100%;
}

/* line 46, ../sass/rdpb.scss */
.index_news .btn-more {
  z-index: 200;
}

/* line 52, ../sass/rdpb.scss */
.homepage-speaks > div > div {
  margin-bottom: 32px;
}
/* line 55, ../sass/rdpb.scss */
.homepage-speaks h4 {
  font-family: "supermarketregular";
  font-size: 1.7em;
}
/* line 58, ../sass/rdpb.scss */
.homepage-speaks h4 a {
  color: #517fdb;
}
/* line 62, ../sass/rdpb.scss */
.homepage-speaks .btn-readall-speaks {
  background: #517fdb;
  border: none;
}

/* line 68, ../sass/rdpb.scss */
a.readmore-idea {
  color: #517fdb;
}

/* line 72, ../sass/rdpb.scss */
a.readmore-knowledge {
  color: #d65bc7;
}

/* line 78, ../sass/rdpb.scss */
.homepage-knowledge h3 a {
  color: #d65bc7;
}
/* line 82, ../sass/rdpb.scss */
.homepage-knowledge .btn-readall-knowledge {
  background: #d65bc7;
  border: none;
}

/* line 89, ../sass/rdpb.scss */
.index_news > div {
  height: 480px;
}

/* line 95, ../sass/rdpb.scss */
.headline.headline-speak > h2 {
  border-color: #517fdb;
}

/* line 100, ../sass/rdpb.scss */
.headline.headline-knowledge > h3 {
  border-color: #d65bc7;
}
