/*
green: #72bd05;
purple: #9122e6;
 */

.top8 {
    margin-top: 8px;
}

.top16 {
    margin-top: 16px;
}

.top32 {
    margin-top: 32px;
}

.top64 {
    margin-top: 64px;
}

.bottom8 {
    margin-bottom: 8px;
}

.bottom16 {
    margin-bottom: 16px;
}

.bottom32 {
    margin-bottom: 32px;
}

.bottom64 {
    margin-bottom: 64px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.purple {
    color: #9122e6;
}

.idea-header {
    color: #72bd05;
}

h1, h2, h3, h4, h5, .headlinefont {
    font-family: "supermarketregular";
}

.header .navbar-default .navbar-nav > li > a {
    font-family: "supermarketregular";
    font-size: 1.4em;
}

.purchase span {
    font-family: "supermarketregular";
    font-size: 1.9em;
}

div.homepage-speaks .thumbnail-img .overflow-hidden {
    position: relative;
}

.feather {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: URL("../images/effects/feather.png");
    background-size: 100% 100%;
    z-index: 100;
}

.feather img {
    width: 100%;
    height: 100%;
}

.index_news .btn-more {
    z-index: 200;
}

.homepage-speaks > div > div {
    margin-bottom: 32px;
}

.homepage-speaks h4 {
    font-family: "supermarketregular";
    font-size: 1.7em;
}

.homepage-speaks h4 a {
    color: #5082de;
}

.homepage-speaks .btn-readall-speaks {
    background: #5082de;
    border: none;
}

a.readmore-project {
    color: #72bd05;
    font-size: 0.85em;
}


a.readmore-idea {
    color: #517fdb;
    font-size: 0.85em;
}

a.readmore-knowledge {
    font-size: 0.85em;
    color: #9122e6;
}

.homepage-knowledge a {
    color: #ff9901;
}

.homepage-knowledge h3{
    font-size: 1.7em;
}

.homepage-knowledge .btn-readall-knowledge {
    background: #9122e6;
    border: none;
}

.index_news p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 4.6em; /* I needed this to get it to work */
    overflow: hidden;
}

.index_news .thumbnail h3 a,
.index_news .thumbnail-style h3 a {
    color: #72bd05;
}

.project h2, .project h2 a, .project h3 {
    color: #72bd05 !important;
}

.idea h2, .idea h2 a, .idea h3 {
    color: #5082de !important;
}

.knowledge h2 ,.knowledge h2 a, .knowledge h3 {
    color: #ff9901 !important;
}

.headline.headline-project > h2 {
    border-color: #70ad47;
}

.headline.headline-speak > h2 {
    border-color: #5082de;
}

.headline.headline-knowledge > h3 {
    border-color: #ff9901;
!important;
}

/* fix search form */
.input-group-search {
    width: 100%;
}

.input-group-search form input[name="s"] {
    width: 80%;
}

/* search category */
.search-block-category {
    margin-top: 8px;
    margin-bottom: 12px;
}

ul.search-category {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.search-category > li {
    display: inline-block;
}

ul.search-category > li.seperator {
    margin-left: 8px;
    margin-right: 8px;
    color: #eee;
}

ul.search-category > li a, ul.search-category > li button {
    font-size: 1.4em;
    color: #95a5a6;
    padding-bottom: 4px;
}

ul.search-category > li a:hover {
    color: #7f8c8d;
    text-decoration: none;
}

ul.search-category > li.active a, ul.search-category > li.active button {
    font-weight: bold;
    color: #7f8c8d;
    border-bottom: solid 2px #7f8c8d;
}

/*slider*/
#slider {
    background-image: url("/assets/plugins/parallax-slider/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    /*height: 427px;*/
    /*height: 550px;*/
    padding-top: 12px;
    overflow: hidden;
    position: relative;
    top: 0px;
}

#slider .owlcarousel {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 1;
}

#slider-header {
    font-size: 1.8em;
    font-style: normal;
    padding: 10px;
    text-transform: uppercase;
    /*background-color: rgba(46, 98, 0, 0.8);*/
    margin-top: 10%;

    background: rgba(46, 98, 0, 0.8);
    background: -moz-linear-gradient(top, rgba(46, 98, 0, 0.8) 0%, rgba(46, 98, 0, 0.8) 69%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46, 98, 0, 0.8)), color-stop(69%, rgba(46, 98, 0, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(46, 98, 0, 0.8) 0%, rgba(46, 98, 0, 0.8) 69%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(46, 98, 0, 0.8) 0%, rgba(46, 98, 0, 0.8) 69%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(46, 98, 0, 0.8) 0%, rgba(46, 98, 0, 0.8) 69%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(46, 98, 0, 0.8) 0%, rgba(46, 98, 0, 0.8) 69%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e6200', endColorstr='#ffffff', GradientType=0);

    color: white;
    /*position: absolute;*/
    text-align: center;
    width: 100%;
    /*bottom: 27px;*/
    left: 0px;
    z-index: 20;
}

#slider .slider-image {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 400px;
    overflow: hidden;
}

/* topic search form */
.topic-search-form {
    margin-top: 8px;
}

.topic-search-form input[type="text"] {
    display: inline-block;
    width: 70%;
}

/* first page owl */
.owl-buttons {
    position: absolute;
    top: 40%;
    width: 100%;
}

.owl-theme .owl-controls .owl-buttons > div {
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.5em;
}

.owl-buttons .owl-prev {
    position: absolute;
    left: 0px;
}

.owl-buttons .owl-next {
    position: absolute;
    right: 0px;
}

.imgcenter img {
    opacity: 0;
}

/*@media(min-width: 768px) {
    #slider-header {
        position: fixed;
        left: 0px;
        max-width: 520px;
    }
}*/

.linkButton {
    background: none;
    border: none;
    /*color: #0066ff;*/
    /*text-decoration: underline;*/
    /*cursor: pointer;*/
}

.underline-link:hover{
    text-decoration: underline !important;
}


.header .navbar-default .navbar-nav > li > a:hover,
.header .navbar-default .navbar-nav > .active > a {
    bottom: -2px;
    position: relative;
    border-bottom: solid 2px #95A5A6;
}
