$headlinefont: 'supermarketregular';

p {
    text-align: justify;
    text-justify: inter-word;
}

h1,h2,h3,h4,h5,.headlinefont {
	font-family: $headlinefont;
}

.header .navbar-default .navbar-nav > li > a {
	font-family: $headlinefont;
	font-size: 1.4em;
}

.purchase span {
	font-family: $headlinefont;
	font-size: 1.9em;
}

div.homepage-speaks {
	.thumbnail-img {
		.overflow-hidden {
			position: relative;
		}
	}
}

.feather {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: URL("../images/effects/feather.png");
	background-size: 100% 100%;
	z-index: 100;
	img {
		width: 100%;
		height: 100%;
	}
}

.index_news {
	.btn-more {
		z-index: 200;
	}
}

.homepage-speaks {
	> div > div {
		margin-bottom: 32px;
	}
	h4 {
		font-family: $headlinefont;
		font-size: 1.7em;
		a {
			color: #517fdb;
		}
	}
	.btn-readall-speaks {
		background: #517fdb;
		border: none;
	}
}

a.readmore-idea {
	color: #517fdb;
}

a.readmore-knowledge {
	color: #d65bc7;
}

.homepage-knowledge {
	h3 {
		a {
			color: #d65bc7;
		}
	}
	.btn-readall-knowledge {
		background: #d65bc7;
		border: none;
	}
}

.index_news {
	> div {
		height: 480px;
	}
}

.headline.headline-speak {
	> h2 {
		border-color: #517fdb;
	}
}

.headline.headline-knowledge > h3 {
	border-color: #d65bc7;
}